Dev_Zermelo.json
{"flowContents":{"identifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65","name":"Dev Zermelo","comments":"","position":{"x":448.0,"y":16.0},"processGroups":[{"identifier":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"Appointments","comments":"","position":{"x":712.0,"y":136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"900c6592-3da7-354f-9e12-fa933ab134c2","name":"JoltTransformJSON","comments":"","position":{"x":512.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"            [\n              {\n                \"operation\": \"shift\",\n                \"spec\": {\n                  \"*\": {\n                    \"id\": \"[&1].transactionid\",\n                    \"locations\": {\n                      \"*\": {\n                        \"@\": \"[&3].locations.[&1].location.displayName\"\n                      }\n                    },\n                    \"changeDescription\": \"[&1].bodyContentJoined\",\n                    \"schedulerRemark\": \"[&1].bodyContentJoined\",\n                    \"subjects\": \"[&1].subjectsJoined\",\n                    \"teachers\": \"[&1].teachersJoined\",\n                    \"groups\": \"[&1].groupsJoined\",\n                    \"startTimeSlot\": \"[&1].startTimeSlotConcat\"\n                  }\n                }\n  },\n              {\n                \"operation\": \"default\",\n                \"spec\": {\n                  \"*\": {\n                    \"body\": {\n                      \"contentType\": \"HTML\"\n                    },\n                    \"organizer\": {\n                      \"emailAddress\": {\n                        \"address\": \"simon@speykintegrations.onmicrosoft.com\"\n                      }\n                    }\n                  }\n                }\n  },\n              {\n                \"operation\": \"modify-default-beta\",\n                \"spec\": {\n                  \"*\": {\n                    \"body\": {\n                      \"content\": \"=join('',@(2,bodyContentJoined))\"\n                    },\n                    \"subjectsConcatJoined\": \"=join(',',@(1,subjectsJoined))\",\n                    \"teachersConcatJoined\": \"=join(',',@(1,teachersJoined))\",\n                    \"groupsConcatJoined\": \"=join(',',@(1,groupsJoined))\",\n                    \"subject\": \"=concat('#', @(1,startTimeSlotConcat),' ',@(1,subjectsConcatJoined),' - ',@(1,teachersConcatJoined),' - ', @(1,groupsConcatJoined))\"\n                  }\n                }\n  },\n              {\n                \"operation\": \"remove\",\n                \"spec\": {\n                  \"*\": {\n                    \"bodyContentJoined\": \"\",\n                    \"subjectsJoined\": \"\",\n                    \"subjectsConcatJoined\": \"\",\n                    \"teachersJoined\": \"\",\n                    \"teachersConcatJoined\": \"\",\n                    \"groupsJoined\": \"\",\n                    \"groupsConcatJoined\": \"\",\n                    \"startTimeSlotConcat\": \"\"\n                  }\n                }\n  }\n]\n\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"b137f458-7360-38e9-888a-ed4f7f792b62","name":"GetAppointmentsFromJson","comments":"","position":{"x":512.0,"y":248.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","data":"$.response.data","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"fe7a58c7-0efc-39c6-8726-8c70db165844","name":"PutFile","comments":"","position":{"x":1320.0,"y":272.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"64b4b898-1601-3a96-bc49-00df6dcf232b","name":"QueryTeachers","comments":"","position":{"x":1384.0,"y":488.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","teachers":"SELECT * FROM FLOWFILE WHERE teacher = 'doc1'","record-writer":"030214b7-a89e-382d-a187-92f0446b97cb","record-reader":"de5bc3f7-20a2-3f93-9379-cc2ce548ae2a","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"teachers":{"name":"teachers","displayName":"teachers","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"5350912f-55b8-3338-9f5a-5cd9cd0525e7","name":"InvokeZermeloRestApi","comments":"","position":{"x":520.0,"y":40.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":"Authorization","use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"#{zermelo.oauthtoken}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{zermelo.baseurl.jdw}#{zermelo.appointments.jdw}","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"true","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"3ed1c729-8b62-3ac7-91b9-8f14cfbd60f3","name":"PutFile","comments":"","position":{"x":1384.0,"y":712.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/${now():toNumber()}.avro","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"d4d78ad3-270b-36b0-842c-ae36aae1c6c2","name":"ConvertToCsv","comments":"","position":{"x":1320.0,"y":56.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"a4f26ec7-b359-34f1-9407-61cfad90bbb5","record-reader":"de5bc3f7-20a2-3f93-9379-cc2ce548ae2a","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"782aa35c-a389-3eba-8b2d-c71dc757ffe4","name":"JsonResponse","source":{"id":"5350912f-55b8-3338-9f5a-5cd9cd0525e7","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"InvokeZermeloRestApi","comments":""},"destination":{"id":"b137f458-7360-38e9-888a-ed4f7f792b62","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"GetAppointmentsFromJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"257cfc8e-6890-3c50-b7dd-22adc288e3f7","name":"","source":{"id":"d4d78ad3-270b-36b0-842c-ae36aae1c6c2","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"ConvertToCsv","comments":""},"destination":{"id":"fe7a58c7-0efc-39c6-8726-8c70db165844","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"b04eb38b-c3e5-315c-9608-5d547c1e1716","name":"","source":{"id":"64b4b898-1601-3a96-bc49-00df6dcf232b","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"QueryTeachers","comments":""},"destination":{"id":"3ed1c729-8b62-3ac7-91b9-8f14cfbd60f3","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["teachers"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"f7caee01-804f-32f0-9ba2-56e634d2c2e5","name":"","source":{"id":"d4d78ad3-270b-36b0-842c-ae36aae1c6c2","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"ConvertToCsv","comments":""},"destination":{"id":"d4d78ad3-270b-36b0-842c-ae36aae1c6c2","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"ConvertToCsv","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1794.0089111328125,"y":103.99463653564453},{"x":1794.0089111328125,"y":153.99463653564453}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"ce29c896-32cb-3b84-aa5d-663a8cfa143a","name":"","source":{"id":"b137f458-7360-38e9-888a-ed4f7f792b62","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"GetAppointmentsFromJson","comments":""},"destination":{"id":"900c6592-3da7-354f-9e12-fa933ab134c2","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"0493613f-55ab-3ec5-a163-b7d4f155016a","name":"","source":{"id":"5350912f-55b8-3338-9f5a-5cd9cd0525e7","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"InvokeZermeloRestApi","comments":""},"destination":{"id":"5350912f-55b8-3338-9f5a-5cd9cd0525e7","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"InvokeZermeloRestApi","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":992.1260681152344,"y":86.58062362670898},{"x":992.1260681152344,"y":136.58062362670898}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"},{"identifier":"c09a173e-f0a3-397b-915a-c7f4602c9aaa","name":"","source":{"id":"b137f458-7360-38e9-888a-ed4f7f792b62","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"GetAppointmentsFromJson","comments":""},"destination":{"id":"b137f458-7360-38e9-888a-ed4f7f792b62","type":"PROCESSOR","groupId":"7f4d7089-8179-3125-9296-4f89fa871e09","name":"GetAppointmentsFromJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":991.62255859375,"y":293.0250778198242},{"x":991.62255859375,"y":343.0250778198242}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"}],"labels":[{"identifier":"2407a7ff-15e4-3064-90cc-bd37f2c02475","position":{"x":560.0,"y":8.0},"label":"Get the appointments for the next 3 weeks.","width":248.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"7f4d7089-8179-3125-9296-4f89fa871e09"}],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"Zermelo","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"},{"identifier":"7d55e097-8117-3ac3-8c30-1caaa698bfb0","name":"Teachers","comments":"","position":{"x":288.0,"y":136.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6e4381e4-d25b-36e5-9170-76a8abcacf0d","name":"InvokeHTTP","comments":"","position":{"x":544.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","Authorization":"#{zermelo.oauthtoken}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{zermelo.baseurl}#{zermelo.api}#{zermelo.teachers}","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Flowfile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7d55e097-8117-3ac3-8c30-1caaa698bfb0"},{"identifier":"fdf2060a-33a6-385c-a541-230ac9961c5b","name":"EvaluateJsonPath","comments":"","position":{"x":544.0,"y":272.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","data":"$.response.data","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","matched","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7d55e097-8117-3ac3-8c30-1caaa698bfb0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c30078d8-05b7-340f-8aad-5a78e1a9ef5c","name":"","source":{"id":"6e4381e4-d25b-36e5-9170-76a8abcacf0d","type":"PROCESSOR","groupId":"7d55e097-8117-3ac3-8c30-1caaa698bfb0","name":"InvokeHTTP","comments":""},"destination":{"id":"fdf2060a-33a6-385c-a541-230ac9961c5b","type":"PROCESSOR","groupId":"7d55e097-8117-3ac3-8c30-1caaa698bfb0","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7d55e097-8117-3ac3-8c30-1caaa698bfb0"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7fb6e72b-0a07-33fc-96a7-01f888c6ee74","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"Timestamp Format":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7d55e097-8117-3ac3-8c30-1caaa698bfb0"}],"variables":{},"parameterContextName":"Zermelo","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"de5bc3f7-20a2-3f93-9379-cc2ce548ae2a","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"schema-branch":null,"hidden":"$.hidden","subject":"$.subjects[0]","remark":"$.remark","type":"$.type","valid":"$.valid","Date Format":null,"teacher":"$.teachers[0]","schema-registry":null,"teacher2":"$.teachers[1]","Time Format":null,"end":"$.end","schema-access-strategy":"schema-text-property","id":"$.id","schema-version":null,"schema-text":"#{zermelo.avroschema}","group":"$.groups[0]","changeDescription":"$.changeDescription","start":"$.start","appointmentInstance":"$.appointmentInstance","group2":"$.groups[1]","Timestamp Format":null,"schema-name":"${schema.name}","cancelled":"$.cancelled","location":"$.locations[0]","lastModified":"$.lastModified"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"hidden":{"name":"hidden","displayName":"hidden","identifiesControllerService":false,"sensitive":false},"subject":{"name":"subject","displayName":"subject","identifiesControllerService":false,"sensitive":false},"remark":{"name":"remark","displayName":"remark","identifiesControllerService":false,"sensitive":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false},"valid":{"name":"valid","displayName":"valid","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"teacher":{"name":"teacher","displayName":"teacher","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"teacher2":{"name":"teacher2","displayName":"teacher2","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"end":{"name":"end","displayName":"end","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"group":{"name":"group","displayName":"group","identifiesControllerService":false,"sensitive":false},"changeDescription":{"name":"changeDescription","displayName":"changeDescription","identifiesControllerService":false,"sensitive":false},"start":{"name":"start","displayName":"start","identifiesControllerService":false,"sensitive":false},"appointmentInstance":{"name":"appointmentInstance","displayName":"appointmentInstance","identifiesControllerService":false,"sensitive":false},"group2":{"name":"group2","displayName":"group2","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cancelled":{"name":"cancelled","displayName":"cancelled","identifiesControllerService":false,"sensitive":false},"location":{"name":"location","displayName":"location","identifiesControllerService":false,"sensitive":false},"lastModified":{"name":"lastModified","displayName":"lastModified","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"},{"identifier":"981e465a-c71d-3710-b639-32a693f7961b","name":"DistributedMapCacheLookupService","comments":"","type":"org.apache.nifi.lookup.DistributedMapCacheLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"character-encoding":"UTF-8","distributed-map-cache-service":"a60c18f5-66a5-3ec5-b68a-c2ab2d7415c5"},"propertyDescriptors":{"character-encoding":{"name":"character-encoding","displayName":"Character Encoding","identifiesControllerService":false,"sensitive":false},"distributed-map-cache-service":{"name":"distributed-map-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"},{"identifier":"030214b7-a89e-382d-a187-92f0446b97cb","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"compression-format":"DEFLATE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"#{avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"},{"identifier":"a60c18f5-66a5-3ec5-b68a-c2ab2d7415c5","name":"DistributedMapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"},{"identifier":"a4f26ec7-b359-34f1-9407-61cfad90bbb5","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"},{"identifier":"de49eddc-d616-3b83-8fc4-ee31bcd81a19","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"},{"identifier":"5d7422ae-4ee0-3a0f-87a1-c13a3828df64","name":"DistributedMapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.13.2"},"controllerServiceApis":[],"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65"}],"variables":{},"parameterContextName":"Zermelo","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Zermelo":{"name":"Zermelo","parameters":[{"name":"zermelo.baseurl","description":"Opgebouwd als https://{klantnaam}.zportal.nl","sensitive":false,"value":"https://v21-04-speyk.zportal.nl"},{"name":"zermelo.teachers","description":"Zermelo REST API endpoint for teachers.","sensitive":false,"value":"/users?isEmployee=true"},{"name":"zermelo.appointments","description":"Zermelo REST API endpoint for appointments.","sensitive":false,"value":"/appointments"},{"name":"zermelo.avroschema","description":"Avro schema for record operations.","sensitive":false,"value":"{\n\t\"namespace\": \"nifi\",\n\t\"name\": \"appointment\",\n\t\"type\": \"record\",\n\t\"fields\": [\n\t\t{ \"name\": \"id\", \"type\": \"long\" },\n\t\t{ \"name\": \"appointmentInstance\", \"type\": \"long\" },\n\t\t{ \"name\": \"start\", \"type\": \"long\" },\n\t\t{ \"name\": \"end\", \"type\": \"long\" },\n\t\t{ \"name\": \"type\", \"type\": \"string\" },\n\t\t{ \"name\": \"group\", \"type\": \"string\" },\n\t\t{ \"name\": \"group2\", \"type\": [\"null\", \"string\"] },\n\t\t{ \"name\": \"location\", \"type\": \"string\" },\n\t\t{ \"name\": \"subject\", \"type\": \"string\" },\n\t  { \"name\": \"teacher\", \"type\": \"string\" },\n\t  { \"name\": \"teacher2\", \"type\": [\"null\", \"string\"] },\n\t  { \"name\": \"changeDescription\", \"type\": \"string\" },\n\t  { \"name\": \"remark\", \"type\": \"string\" },\n\t  { \"name\": \"valid\", \"type\": \"boolean\" },\n\t  { \"name\": \"hidden\", \"type\": \"boolean\" },\n\t  { \"name\": \"cancelled\", \"type\": \"boolean\" },\n\t  { \"name\": \"lastModified\", \"type\": \"long\" }\n\t]\n}"},{"name":"zermelo.start","description":"Unix time in milisec. representing the start date for getting the appointments.","sensitive":false,"value":"${now():toNumber():divide(1000)}"},{"name":"zermelo.appointments.jdw","description":"appointments endpoint jdw","sensitive":false,"value":"/api/v3/appointments/?startWeekOffset=0&endWeekOffset=3&fields=id,valid,appointmentInstance,start,end,startTimeSlotName,endTimeSlotName,subjects,groups,locations,teachers,cancelled,changeDescription,schedulerRemark,content,expectedStudentCount,expectedStudentCountOnline"},{"name":"zermelo.end","description":"Unix time in milisec. representing the end date for getting the appointments.\n3 weeks from now.","sensitive":false,"value":"${now():toNumber():divide(1000):plus(1814400)}"},{"name":"zermelo.baseurl.jdw","description":"zermelo base-url jdw","sensitive":false,"value":"https://8634982f-e568-4faa-8d09-9c1e1370328e.mock.pstmn.io"},{"name":"zermelo.api","description":"Version of Zermelo REST API.","sensitive":false,"value":"/api/v3"},{"name":"zermelo.oauthtoken","description":"Oauth token","sensitive":false,"value":"Bearer cdjn98jaroos1rj5fgrhlecmth"}]}},"flowEncodingVersion":"1.0"}