flow-backup/flow.xml
<?xml version="1.0" encoding="UTF-8"?><flowController encoding-version="1.4">
  <maxTimerDrivenThreadCount>25</maxTimerDrivenThreadCount>
  <maxEventDrivenThreadCount>25</maxEventDrivenThreadCount>
  <registries>
    <flowRegistry>
      <id>36c37df6-0179-1000-c598-3222ba797174</id>
      <name>NiFi Registry</name>
      <url>http://localhost:18080</url>
      <description/>
    </flowRegistry>
  </registries>
  <parameterContexts>
    <parameterContext>
      <id>422c8335-0179-1000-4533-18cdf891a9bc</id>
      <name>Magister</name>
      <description/>
      <parameter>
        <name>magister.avroschema</name>
        <description/>
        <sensitive>false</sensitive>
        <value>{
                  "namespace": "nifi",
                  "name": "test",
                  "type": "record",
                  "fields": [
                    { "name": "array_field", "type":
                      { "type": "array", "items": "string" }
                    },
                    { "name": "simple_field", "type": "string" }
                  ]
                }</value>
      </parameter>
      <parameter>
        <name>magister.loginname</name>
        <description/>
        <sensitive>false</sensitive>
        <value>Speyk</value>
      </parameter>
      <parameter>
        <name>magister.password</name>
        <description/>
        <sensitive>false</sensitive>
        <value>@77bsa66</value>
      </parameter>
    </parameterContext>
    <parameterContext>
      <id>373d27d7-0179-1000-d983-0068b297e068</id>
      <name>Zermelo</name>
      <description/>
      <parameter>
        <name>zermelo.baseurl</name>
        <description>Opgebouwd als https://{klantnaam}.zportal.nl</description>
        <sensitive>false</sensitive>
        <value>https://v21-04-speyk.zportal.nl</value>
      </parameter>
      <parameter>
        <name>zermelo.teachers</name>
        <description>Zermelo REST API endpoint for teachers.</description>
        <sensitive>false</sensitive>
        <value>/users?isEmployee=true</value>
      </parameter>
      <parameter>
        <name>zermelo.avroschema</name>
        <description>Avro schema for record operations.</description>
        <sensitive>false</sensitive>
        <value>{
	"namespace": "nifi",
	"name": "appointment",
	"type": "record",
	"fields": [
		{ "name": "id", "type": "long" },
		{ "name": "appointmentInstance", "type": "long" },
		{ "name": "start", "type": "long" },
		{ "name": "end", "type": "long" },
		{ "name": "type", "type": "string" },
		{ "name": "group", "type": "string" },
		{ "name": "group2", "type": ["null", "string"] },
		{ "name": "location", "type": "string" },
		{ "name": "subject", "type": "string" },
	  { "name": "teacher", "type": "string" },
	  { "name": "teacher2", "type": ["null", "string"] },
	  { "name": "changeDescription", "type": "string" },
	  { "name": "remark", "type": "string" },
	  { "name": "valid", "type": "boolean" },
	  { "name": "hidden", "type": "boolean" },
	  { "name": "cancelled", "type": "boolean" },
	  { "name": "lastModified", "type": "long" }
	]
}</value>
      </parameter>
      <parameter>
        <name>zermelo.start</name>
        <description>Unix time in milisec. representing the start date for getting the appointments.</description>
        <sensitive>false</sensitive>
        <value>${now():toNumber():divide(1000)}</value>
      </parameter>
      <parameter>
        <name>zermelo.appointments</name>
        <description>Zermelo REST API endpoint for appointments.</description>
        <sensitive>false</sensitive>
        <value>/appointments</value>
      </parameter>
      <parameter>
        <name>zermelo.end</name>
        <description>Unix time in milisec. representing the end date for getting the appointments.
3 weeks from now.</description>
        <sensitive>false</sensitive>
        <value>${now():toNumber():divide(1000):plus(1814400)}</value>
      </parameter>
      <parameter>
        <name>zermelo.oauthtoken</name>
        <description>Oauth token</description>
        <sensitive>false</sensitive>
        <value>Bearer cdjn98jaroos1rj5fgrhlecmth</value>
      </parameter>
      <parameter>
        <name>zermelo.api</name>
        <description>Version of Zermelo REST API.</description>
        <sensitive>false</sensitive>
        <value>/api/v3</value>
      </parameter>
    </parameterContext>
  </parameterContexts>
  <rootGroup>
    <id>2314d8d8-0179-1000-d992-ce10979bb34b</id>
    <name>NiFi Flow</name>
    <position x="0.0" y="0.0"/>
    <comment/>
    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
    <processGroup>
      <id>3176b4ed-0179-1000-fe84-610251af4e8e</id>
      <versionedComponentId>a47aafae-e0b2-36d6-afdd-3130bedb0ce9</versionedComponentId>
      <name>Development</name>
      <position x="496.0" y="8.0"/>
      <comment/>
      <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
      <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
      <versionControlInformation>
        <registryId>36c37df6-0179-1000-c598-3222ba797174</registryId>
        <bucketId>2a0a4cdd-3289-4cf3-8bc9-2fa1e3a26f3e</bucketId>
        <bucketName>Development</bucketName>
        <flowId>252b739d-40e5-43e9-9508-f8407d85a448</flowId>
        <flowName>Development</flowName>
        <flowDescription/>
        <version>14</version>
      </versionControlInformation>
      <processGroup>
        <id>09628ae4-e2b6-303a-130f-a1a69d39824a</id>
        <versionedComponentId>7a37dfaa-6a17-3ebc-b349-c55cba2778c3</versionedComponentId>
        <name>Graph Api Calendar </name>
        <position x="448.0" y="256.0"/>
        <comment/>
        <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
        <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
        <processor>
          <id>b06057a5-1022-327e-bfb6-792c91bcd3f3</id>
          <versionedComponentId>d07ef03c-d0a8-371b-97c3-9fba7cff5863</versionedComponentId>
          <name>Create TransactionId from message</name>
          <position x="560.0" y="-1144.0"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.CryptographicHashContent</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-standard-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>STOPPED</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>fail_when_empty</name>
            <value>false</value>
          </property>
          <property>
            <name>hash_algorithm</name>
            <value>SHA3-512</value>
          </property>
        </processor>
        <processor>
          <id>3b92c92e-0179-1000-c32d-35ee1924d10e</id>
          <versionedComponentId>7fc7318b-e7ee-3b87-a800-bd732ab28456</versionedComponentId>
          <name>ControlRate 2000 requests p/sec.</name>
          <position x="1192.0" y="-1008.0"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ControlRate</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-standard-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>STOPPED</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Rate Control Criteria</name>
            <value>flowfile count</value>
          </property>
          <property>
            <name>Maximum Rate</name>
            <value>2000</value>
          </property>
          <property>
            <name>Rate Controlled Attribute</name>
          </property>
          <property>
            <name>Time Duration</name>
            <value>1 sec</value>
          </property>
          <property>
            <name>Grouping Attribute</name>
          </property>
        </processor>
        <processor>
          <id>55ae03cb-fbb9-3604-d386-a40e94e8be93</id>
          <versionedComponentId>c70a53e1-2a04-306c-bd6c-e412daa988da</versionedComponentId>
          <name>GenerateFlowFile</name>
          <position x="560.0" y="-1360.0"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.GenerateFlowFile</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-standard-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>30 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>STOPPED</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>File Size</name>
            <value>10B</value>
          </property>
          <property>
            <name>Batch Size</name>
            <value>1</value>
          </property>
          <property>
            <name>Data Format</name>
            <value>Text</value>
          </property>
          <property>
            <name>Unique FlowFiles</name>
            <value>false</value>
          </property>
          <property>
            <name>generate-ff-custom-text</name>
            <value>{
    "subject": "en-m1a",
    "bodyPreview": "A description",
    "body": {
        "contentType": "text",
        "content": "Automatisch gegenereerd door Speyk Integration Services."
    },
    "start": {
        "dateTime": "2021-05-04T11:00:00.0000000",
        "timeZone": "UTC"
    },
    "end": {
        "dateTime": "2021-05-4T11:30:00.0000000",
        "timeZone": "UTC"
    },
    "location": {
        "displayName": "a028",
        "locationType": "default",
        "uniqueIdType": "unknown",
        "address": {},
        "coordinates": {}
    },
    "attendees": [],
    "organizer": {
        "emailAddress": {
            "name": "Simon Bosman",
            "address": "simon@speykintegrations.onmicrosoft.com"
        }
    }
}</value>
          </property>
          <property>
            <name>character-set</name>
            <value>UTF-8</value>
          </property>
          <property>
            <name>mime-type</name>
            <value>application/json</value>
          </property>
          <property>
            <name>upn-name</name>
            <value>simon@speykintegrations.onmicrosoft.com</value>
          </property>
        </processor>
        <processor>
          <id>3b9bdf68-0179-1000-8a78-b77f16bfde3f</id>
          <versionedComponentId>e6c6c332-99fb-3841-84cf-999ae0deee36</versionedComponentId>
          <name>MergeContent</name>
          <position x="1184.0" y="-1184.0"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.MergeContent</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-standard-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>STOPPED</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Merge Strategy</name>
            <value>Bin-Packing Algorithm</value>
          </property>
          <property>
            <name>Merge Format</name>
            <value>Binary Concatenation</value>
          </property>
          <property>
            <name>Attribute Strategy</name>
            <value>Keep Only Common Attributes</value>
          </property>
          <property>
            <name>Correlation Attribute Name</name>
          </property>
          <property>
            <name>mergecontent-metadata-strategy</name>
            <value>Do Not Merge Uncommon Metadata</value>
          </property>
          <property>
            <name>Minimum Number of Entries</name>
            <value>20</value>
          </property>
          <property>
            <name>Maximum Number of Entries</name>
            <value>20</value>
          </property>
          <property>
            <name>Minimum Group Size</name>
            <value>0 B</value>
          </property>
          <property>
            <name>Maximum Group Size</name>
          </property>
          <property>
            <name>Max Bin Age</name>
          </property>
          <property>
            <name>Maximum number of Bins</name>
            <value>1</value>
          </property>
          <property>
            <name>Delimiter Strategy</name>
            <value>Text</value>
          </property>
          <property>
            <name>Header File</name>
          </property>
          <property>
            <name>Footer File</name>
          </property>
          <property>
            <name>Demarcator File</name>
          </property>
          <property>
            <name>Compression Level</name>
            <value>1</value>
          </property>
          <property>
            <name>Keep Path</name>
            <value>false</value>
          </property>
          <property>
            <name>Tar Modified Time</name>
            <value>${file.lastModifiedTime}</value>
          </property>
          <autoTerminatedRelationship>original</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>23548a76-0179-1000-9fbf-e6c3c91e419b</id>
          <versionedComponentId>9ebf2593-0428-363a-82a2-11d21e9beb99</versionedComponentId>
          <name>PutAzureDataLakeStorage</name>
          <position x="240.0" y="-944.0"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-azure-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <maxConcurrentTasks>8</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>STOPPED</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>adls-credentials-service</name>
            <value>2355012b-0179-1000-a2aa-4a938c2cea94</value>
          </property>
          <property>
            <name>filesystem-name</name>
            <value>adls-dev</value>
          </property>
          <property>
            <name>directory-name</name>
            <value>dev-integration</value>
          </property>
          <property>
            <name>file-name</name>
            <value>${UUID()}.json</value>
          </property>
          <property>
            <name>conflict-resolution-strategy</name>
            <value>fail</value>
          </property>
          <autoTerminatedRelationship>success</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>e8da06c0-78dd-32e2-4460-fc3ce42dd513</id>
          <versionedComponentId>a7005f31-7dcc-3563-8de1-c598830abd97</versionedComponentId>
          <name>InvokeMicrosoftGraphCalendar</name>
          <position x="848.0" y="-840.0"/>
          <styles/>
          <comment/>
          <class>nl.speyk.nifi.microsoft.graph.processors.InvokeMicrosoftGraphCalendar</class>
          <bundle>
            <group>nl.speyk.nifi</group>
            <artifact>nifi-microsoft-graph-processors-nar</artifact>
            <version>0.1.0</version>
          </bundle>
          <maxConcurrentTasks>4</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>STOPPED</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>mg-cs-auth-controller-id</name>
            <value>0f4c1041-8fe7-3bb8-4601-06f321dd12fd</value>
          </property>
          <property>
            <name>mg-cs-graph-prop-method</name>
            <value>POST</value>
          </property>
          <autoTerminatedRelationship>success</autoTerminatedRelationship>
        </processor>
        <connection>
          <id>242d1af6-0179-1000-bf81-5882a57971d4</id>
          <versionedComponentId>a849ae91-c123-3cc4-b2f3-d715dc563f59</versionedComponentId>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>b06057a5-1022-327e-bfb6-792c91bcd3f3</sourceId>
          <sourceGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>23548a76-0179-1000-9fbf-e6c3c91e419b</destinationId>
          <destinationGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <connection>
          <id>4341f38c-0ae6-3f5d-ed27-30aede85ba89</id>
          <versionedComponentId>ecbaf6ee-74a5-3b70-933a-3a8118dbc7c4</versionedComponentId>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>55ae03cb-fbb9-3604-d386-a40e94e8be93</sourceId>
          <sourceGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>b06057a5-1022-327e-bfb6-792c91bcd3f3</destinationId>
          <destinationGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>20</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <connection>
          <id>297359b4-0179-1000-f174-52391c2248dc</id>
          <versionedComponentId>a2ce4945-73d9-3984-9c24-254454aaf8d4</versionedComponentId>
          <name/>
          <bendPoints>
            <bendPoint x="710.9795608520508" y="-921.8026123046875"/>
            <bendPoint x="710.9795608520508" y="-871.8026123046875"/>
          </bendPoints>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>23548a76-0179-1000-9fbf-e6c3c91e419b</sourceId>
          <sourceGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>23548a76-0179-1000-9fbf-e6c3c91e419b</destinationId>
          <destinationGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>failure</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <connection>
          <id>0ef12990-98a9-3bf9-d492-6dfa3fd4a7e1</id>
          <versionedComponentId>d87c1b5e-a2dc-367b-8b31-c6bcdd13f831</versionedComponentId>
          <name/>
          <bendPoints>
            <bendPoint x="1026.5203247070312" y="-1101.162841796875"/>
            <bendPoint x="1026.5203247070312" y="-1051.162841796875"/>
          </bendPoints>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>b06057a5-1022-327e-bfb6-792c91bcd3f3</sourceId>
          <sourceGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>b06057a5-1022-327e-bfb6-792c91bcd3f3</destinationId>
          <destinationGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>failure</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <connection>
          <id>3b935b62-0179-1000-1ad4-7174b0ff7a95</id>
          <versionedComponentId>231b4271-e5cd-3c37-8478-23a4618b0e92</versionedComponentId>
          <name/>
          <bendPoints>
            <bendPoint x="1653.364990234375" y="-975.7658081054688"/>
            <bendPoint x="1653.364990234375" y="-925.7658081054688"/>
          </bendPoints>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>3b92c92e-0179-1000-c32d-35ee1924d10e</sourceId>
          <sourceGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>3b92c92e-0179-1000-c32d-35ee1924d10e</destinationId>
          <destinationGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>failure</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <connection>
          <id>d0744368-d34f-37f2-72c2-88e015970cba</id>
          <versionedComponentId>6b40f52c-e327-350f-9692-320042b34b5a</versionedComponentId>
          <name/>
          <bendPoints>
            <bendPoint x="1328.065673828125" y="-771.1808471679688"/>
            <bendPoint x="1328.065673828125" y="-721.1808471679688"/>
          </bendPoints>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>e8da06c0-78dd-32e2-4460-fc3ce42dd513</sourceId>
          <sourceGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>e8da06c0-78dd-32e2-4460-fc3ce42dd513</destinationId>
          <destinationGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>failure</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <connection>
          <id>3b9c1949-0179-1000-a694-bc9c6f3d9cb3</id>
          <versionedComponentId>ed4605d8-7668-3f5d-b821-1613d857fb1b</versionedComponentId>
          <name/>
          <bendPoints>
            <bendPoint x="1654.8251953125" y="-1142.5324096679688"/>
            <bendPoint x="1654.8251953125" y="-1092.5324096679688"/>
          </bendPoints>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>3b9bdf68-0179-1000-8a78-b77f16bfde3f</sourceId>
          <sourceGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>3b9bdf68-0179-1000-8a78-b77f16bfde3f</destinationId>
          <destinationGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>failure</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <connection>
          <id>0179100e-80f4-11f9-25de-356a9a2b3c46</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>b06057a5-1022-327e-bfb6-792c91bcd3f3</sourceId>
          <sourceGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>e8da06c0-78dd-32e2-4460-fc3ce42dd513</destinationId>
          <destinationGroupId>09628ae4-e2b6-303a-130f-a1a69d39824a</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <controllerService>
          <id>2355012b-0179-1000-a2aa-4a938c2cea94</id>
          <versionedComponentId>da6b8e91-f6ed-3f83-895a-bbd48a80a324</versionedComponentId>
          <name>ADLSCredentialsControllerService</name>
          <comment/>
          <class>org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-azure-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>storage-account-name</name>
            <value>enc{6aa7c04538c8f4a5a4ea336bb02bbe4efd47a4faf10fc8662543e42a9d8e0783}</value>
          </property>
          <property>
            <name>storage-endpoint-suffix</name>
            <value>dfs.core.windows.net</value>
          </property>
          <property>
            <name>storage-account-key</name>
            <value>enc{d8bda41d0f44984c213b09e899def5cad7ae853aacfe91a20e2815936569df9880d40e816fa9dad0800f6263036aa969528ab95d7d71b9971692232312467e71f43c7a3ea02779c8c5b98c552e8b71f17d38e87ca68176f06e8da00d3f41b1325ef3b95b0f7bd01008a80d6fbf1d90d8}</value>
          </property>
          <property>
            <name>storage-sas-token</name>
          </property>
          <property>
            <name>storage-use-managed-identity</name>
            <value>false</value>
          </property>
        </controllerService>
        <template encoding-version="1.3">
    <description/>
    <id>43101d57-b6aa-4c75-b9b5-5acee171c398</id>
    <name>Appointments-GraphApi-Datalake</name>
    <snippet>
        <connections>
            <id>09a2a868-4f93-3eff-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>9ebf2593-0428-363a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>a7005f31-7dcc-3563-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>25284800-794f-31e4-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>a7005f31-7dcc-3563-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>d07ef03c-d0a8-371b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6b40f52c-e327-350f-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>474.21905517578125</x>
                <y>445.29302978515625</y>
            </bends>
            <bends>
                <x>474.21905517578125</x>
                <y>495.29302978515625</y>
            </bends>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>a7005f31-7dcc-3563-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>a7005f31-7dcc-3563-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b845cc85-1faf-346a-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>469.0</x>
                <y>631.0</y>
            </bends>
            <bends>
                <x>469.0</x>
                <y>681.0</y>
            </bends>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>9ebf2593-0428-363a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>9ebf2593-0428-363a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d87c1b5e-a2dc-367b-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>469.0</x>
                <y>239.0</y>
            </bends>
            <bends>
                <x>469.0</x>
                <y>289.0</y>
            </bends>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>d07ef03c-d0a8-371b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>d07ef03c-d0a8-371b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ecbaf6ee-74a5-3b70-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>d07ef03c-d0a8-371b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>c70a53e1-2a04-306c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>da6b8e91-f6ed-3f83-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-azure-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments/>
            <deprecated>false</deprecated>
            <descriptors>
                <entry>
                    <key>storage-account-name</key>
                    <value>
                        <name>storage-account-name</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-sas-token</key>
                    <value>
                        <name>storage-sas-token</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-use-managed-identity</key>
                    <value>
                        <name>storage-use-managed-identity</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-endpoint-suffix</key>
                    <value>
                        <name>storage-endpoint-suffix</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-account-key</key>
                    <value>
                        <name>storage-account-key</name>
                    </value>
                </entry>
            </descriptors>
            <name>ADLSCredentialsControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>storage-account-name</key>
                </entry>
                <entry>
                    <key>storage-sas-token</key>
                </entry>
                <entry>
                    <key>storage-use-managed-identity</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>storage-endpoint-suffix</key>
                    <value>dfs.core.windows.net</value>
                </entry>
                <entry>
                    <key>storage-account-key</key>
                </entry>
            </properties>
            <restricted>false</restricted>
            <state>ENABLED</state>
            <type>org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService</type>
        </controllerServices>
        <controllerServices>
            <id>ef1d4b05-14fa-3697-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-microsoft-graph-services-nar</artifact>
                <group>nl.speyk.nifi</group>
                <version>0.1.0</version>
            </bundle>
            <comments/>
            <deprecated>false</deprecated>
            <descriptors>
                <entry>
                    <key>mg-cs-auth-client-secret</key>
                    <value>
                        <name>mg-cs-auth-client-secret</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-grant-type</key>
                    <value>
                        <name>mg-cs-auth-grant-type</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-client-id</key>
                    <value>
                        <name>mg-cs-auth-client-id</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-tenant-id</key>
                    <value>
                        <name>mg-cs-auth-tenant-id</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-scope</key>
                    <value>
                        <name>mg-cs-auth-scope</name>
                    </value>
                </entry>
            </descriptors>
            <name>MicrosoftGraphCredentialControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>mg-cs-auth-client-secret</key>
                </entry>
                <entry>
                    <key>mg-cs-auth-grant-type</key>
                    <value>client_credentials</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-client-id</key>
                    <value>4dcf450b-1c52-4ab4-8c21-2650e1563435</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-tenant-id</key>
                    <value>4d9d7628-507b-45a9-b659-03d1f09d16bf</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-scope</key>
                    <value>https://graph.microsoft.com/.default</value>
                </entry>
            </properties>
            <restricted>false</restricted>
            <state>ENABLED</state>
            <type>nl.speyk.nifi.microsoft.graph.services.MicrosoftGraphCredentialControllerService</type>
        </controllerServices>
        <processors>
            <id>9ebf2593-0428-363a-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>592.0</y>
            </position>
            <bundle>
                <artifact>nifi-azure-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>filesystem-name</key>
                        <value>
                            <name>filesystem-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>conflict-resolution-strategy</key>
                        <value>
                            <name>conflict-resolution-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>adls-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.services.azure.storage.ADLSCredentialsService</identifiesControllerService>
                            <name>adls-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>directory-name</key>
                        <value>
                            <name>directory-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>file-name</key>
                        <value>
                            <name>file-name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>filesystem-name</key>
                        <value>adls-dev</value>
                    </entry>
                    <entry>
                        <key>conflict-resolution-strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>adls-credentials-service</key>
                        <value>da6b8e91-f6ed-3f83-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>directory-name</key>
                        <value>dev-integration</value>
                    </entry>
                    <entry>
                        <key>file-name</key>
                        <value>${filename}.json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutAzureDataLakeStorage</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <restricted>false</restricted>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage</type>
        </processors>
        <processors>
            <id>a7005f31-7dcc-3563-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>400.0</y>
            </position>
            <bundle>
                <artifact>nifi-microsoft-graph-processors-nar</artifact>
                <group>nl.speyk.nifi</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>mg-cs-graph-prop-method</key>
                        <value>
                            <name>mg-cs-graph-prop-method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mg-cs-auth-controller-id</key>
                        <value>
                            <identifiesControllerService>nl.speyk.nifi.microsoft.graph.services.api.MicrosoftGraphCredentialService</identifiesControllerService>
                            <name>mg-cs-auth-controller-id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>mg-cs-graph-prop-method</key>
                        <value>POST</value>
                    </entry>
                    <entry>
                        <key>mg-cs-auth-controller-id</key>
                        <value>ef1d4b05-14fa-3697-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeMicrosoftGraphCalendar</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <restricted>false</restricted>
            <state>STOPPED</state>
            <style/>
            <type>nl.speyk.nifi.microsoft.graph.processors.InvokeMicrosoftGraphCalendar</type>
        </processors>
        <processors>
            <id>c70a53e1-2a04-306c-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>upn-name</key>
                        <value>
                            <name>upn-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>File Size</key>
                        <value>10B</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>upn-name</key>
                        <value>simon@speykintegrations.onmicrosoft.com</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>{
    "subject": "en-m1a",
    "bodyPreview": "A description",
    "body": {
        "contentType": "text",
        "content": "Automatisch gegenereerd door Speyk Integration Services."
    },
    "start": {
        "dateTime": "2021-04-28T11:00:00.0000000",
        "timeZone": "UTC"
    },
    "end": {
        "dateTime": "2021-04-28T11:30:00.0000000",
        "timeZone": "UTC"
    },
    "location": {
        "displayName": "a028",
        "locationType": "default",
        "uniqueIdType": "unknown",
        "address": {},
        "coordinates": {}
    },
    "attendees": [],
    "organizer": {
        "emailAddress": {
            "name": "Simon Bosman",
            "address": "simon@speykintegrations.onmicrosoft.com"
        }
    }
}</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <restricted>false</restricted>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>d07ef03c-d0a8-371b-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>200.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>hash_algorithm</key>
                        <value>
                            <name>hash_algorithm</name>
                        </value>
                    </entry>
                    <entry>
                        <key>fail_when_empty</key>
                        <value>
                            <name>fail_when_empty</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>hash_algorithm</key>
                        <value>SHA3-512</value>
                    </entry>
                    <entry>
                        <key>fail_when_empty</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Create TransactionId from message</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <restricted>false</restricted>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.CryptographicHashContent</type>
        </processors>
    </snippet>
    <timestamp>04/30/2021 17:15:09 CEST</timestamp>
</template>
      </processGroup>
      <processGroup>
        <id>4108deff-0179-1000-e2da-852c52586285</id>
        <versionedComponentId>0978734a-45c8-32ba-81cf-4f5bd0b6f924</versionedComponentId>
        <name>Dev Magister</name>
        <position x="888.0" y="16.0"/>
        <comment/>
        <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
        <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
        <processor>
          <id>01791003-80f4-11f9-83f1-728e455208a0</id>
          <versionedComponentId>9eaf0087-e8c1-3f30-9c54-ccdbc5f8efc7</versionedComponentId>
          <name>PutFile</name>
          <position x="264.0" y="576.0"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.PutFile</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-standard-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>STOPPED</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <executionNode>ALL</executionNode>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Directory</name>
            <value>/tmp/appointments/${uid}</value>
          </property>
          <property>
            <name>Conflict Resolution Strategy</name>
            <value>fail</value>
          </property>
          <property>
            <name>Create Missing Directories</name>
            <value>true</value>
          </property>
          <property>
            <name>Maximum File Count</name>
          </property>
          <property>
            <name>Last Modified Time</name>
          </property>
          <property>
            <name>Permissions</name>
          </property>
          <property>
            <name>Owner</name>
          </property>
          <property>
            <name>Group</name>
          </property>
          <autoTerminatedRelationship>success</autoTerminatedRelationship>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processGroup>
          <id>4293250e-0179-1000-1f8b-763942fdd487</id>
          <versionedComponentId>19ff3a73-f3e7-3237-a91c-5020a2303bd9</versionedComponentId>
          <name>Magister Appointments</name>
          <position x="248.0" y="272.0"/>
          <comment/>
          <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
          <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
          <processor>
            <id>01791000-80f4-11f9-3339-4a9656f11cae</id>
            <versionedComponentId>8404631c-0237-3254-886f-3ba1a25f5c48</versionedComponentId>
            <name>GetAppointmentsFromRespXML</name>
            <position x="424.0" y="696.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.EvaluateXQuery</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>16</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>Destination</name>
              <value>flowfile-content</value>
            </property>
            <property>
              <name>Output: Method</name>
              <value>xml</value>
            </property>
            <property>
              <name>Output: Omit XML Declaration</name>
              <value>false</value>
            </property>
            <property>
              <name>Output: Indent</name>
              <value>true</value>
            </property>
            <property>
              <name>Validate DTD</name>
              <value>false</value>
            </property>
            <property>
              <name>appointments</name>
              <value>&lt;appointments&gt;{//*:TRowData}&lt;/appointments&gt;</value>
            </property>
            <autoTerminatedRelationship>failure</autoTerminatedRelationship>
            <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>01791000-38b6-110a-6fee-d395d033033a</id>
            <versionedComponentId>c1b2639a-d783-3d13-8356-268a8a17b5ce</versionedComponentId>
            <name>CreateSessionTokenReq</name>
            <position x="424.0" y="112.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.GenerateFlowFile</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>5 min</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>File Size</name>
              <value>0B</value>
            </property>
            <property>
              <name>Batch Size</name>
              <value>1</value>
            </property>
            <property>
              <name>Data Format</name>
              <value>Text</value>
            </property>
            <property>
              <name>Unique FlowFiles</name>
              <value>false</value>
            </property>
            <property>
              <name>generate-ff-custom-text</name>
              <value>&lt;soapenv:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:MediusServer_Soap-Algemeen"&gt;
   &lt;soapenv:Header/&gt;
   &lt;soapenv:Body&gt;
      &lt;urn:Login soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"&gt;
         &lt;UserName xsi:type="xsd:string"&gt;#{magister.loginname}&lt;/UserName&gt;
         &lt;Password xsi:type="xsd:string"&gt;#{magister.password}&lt;/Password&gt;
      &lt;/urn:Login&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;</value>
            </property>
            <property>
              <name>character-set</name>
              <value>UTF-8</value>
            </property>
            <property>
              <name>mime-type</name>
              <value>text/xml;charset=UTF-8
</value>
            </property>
            <property>
              <name>SOAPAction</name>
              <value>urn:MediusServer_Soap-Algemeen#Login</value>
            </property>
          </processor>
          <processor>
            <id>01791000-6a88-1186-493f-a2c7c39b43f0</id>
            <versionedComponentId>7344b5ba-cca8-3790-b59b-e1733097c569</versionedComponentId>
            <name>ChangeSOAPAction</name>
            <position x="424.0" y="488.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-update-attribute-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>Delete Attributes Expression</name>
            </property>
            <property>
              <name>Store State</name>
              <value>Do not store state</value>
            </property>
            <property>
              <name>Stateful Variables Initial Value</name>
            </property>
            <property>
              <name>canonical-value-lookup-cache-size</name>
              <value>100</value>
            </property>
            <property>
              <name>SOAPAction</name>
              <value>urn:MediusServer_Soap-Data#GetData</value>
            </property>
          </processor>
          <processor>
            <id>01791000-88f0-1160-d416-38fa6d3bb949</id>
            <versionedComponentId>c829ccdd-1f5e-399e-9bc0-aa0cb79aa158</versionedComponentId>
            <name>GetTokenFromRespXML</name>
            <position x="424.0" y="296.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.EvaluateXPath</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>Destination</name>
              <value>flowfile-attribute</value>
            </property>
            <property>
              <name>Return Type</name>
              <value>auto-detect</value>
            </property>
            <property>
              <name>Validate DTD</name>
              <value>false</value>
            </property>
            <property>
              <name>token</name>
              <value>//SessionToken</value>
            </property>
            <autoTerminatedRelationship>failure</autoTerminatedRelationship>
            <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>01791000-4d22-117e-7906-3f53a0645923</id>
            <versionedComponentId>06b87441-afeb-359c-bc20-f52b3e1ae46a</versionedComponentId>
            <name>PostAppointmentsReq</name>
            <position x="1040.0" y="488.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>HTTP Method</name>
              <value>POST</value>
            </property>
            <property>
              <name>Remote URL</name>
              <value>https://amadeuslyceum.swp.nl:8800/soap?service=Data</value>
            </property>
            <property>
              <name>SSL Context Service</name>
            </property>
            <property>
              <name>Connection Timeout</name>
              <value>5 secs</value>
            </property>
            <property>
              <name>Read Timeout</name>
              <value>15 secs</value>
            </property>
            <property>
              <name>idle-timeout</name>
              <value>5 mins</value>
            </property>
            <property>
              <name>max-idle-connections</name>
              <value>5</value>
            </property>
            <property>
              <name>Include Date Header</name>
              <value>True</value>
            </property>
            <property>
              <name>Follow Redirects</name>
              <value>True</value>
            </property>
            <property>
              <name>disable-http2</name>
              <value>False</value>
            </property>
            <property>
              <name>Attributes to Send</name>
            </property>
            <property>
              <name>Useragent</name>
            </property>
            <property>
              <name>Basic Authentication Username</name>
            </property>
            <property>
              <name>Basic Authentication Password</name>
            </property>
            <property>
              <name>proxy-configuration-service</name>
            </property>
            <property>
              <name>Proxy Host</name>
            </property>
            <property>
              <name>Proxy Port</name>
            </property>
            <property>
              <name>Proxy Type</name>
              <value>http</value>
            </property>
            <property>
              <name>invokehttp-proxy-user</name>
            </property>
            <property>
              <name>invokehttp-proxy-password</name>
            </property>
            <property>
              <name>Put Response Body In Attribute</name>
            </property>
            <property>
              <name>Max Length To Put In Attribute</name>
              <value>256</value>
            </property>
            <property>
              <name>Digest Authentication</name>
              <value>false</value>
            </property>
            <property>
              <name>Always Output Response</name>
              <value>false</value>
            </property>
            <property>
              <name>Add Response Headers to Request</name>
              <value>false</value>
            </property>
            <property>
              <name>Content-Type</name>
              <value>${mime.type}</value>
            </property>
            <property>
              <name>send-message-body</name>
              <value>true</value>
            </property>
            <property>
              <name>Use Chunked Encoding</name>
              <value>false</value>
            </property>
            <property>
              <name>Penalize on "No Retry"</name>
              <value>false</value>
            </property>
            <property>
              <name>use-etag</name>
              <value>false</value>
            </property>
            <property>
              <name>etag-max-cache-size</name>
              <value>10MB</value>
            </property>
            <property>
              <name>ignore-response-content</name>
              <value>false</value>
            </property>
            <property>
              <name>form-body-form-name</name>
            </property>
            <property>
              <name>set-form-filename</name>
              <value>true</value>
            </property>
            <property>
              <name>SOAPAction</name>
              <value>${soapaction}</value>
            </property>
            <autoTerminatedRelationship>Original</autoTerminatedRelationship>
            <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
            <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>01791000-3d01-1109-5191-e93c49caec78</id>
            <versionedComponentId>3f5e26f9-3e18-3e28-a8e5-beeedfd53aab</versionedComponentId>
            <name>PostSessionTokenReq</name>
            <position x="1040.0" y="104.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>HTTP Method</name>
              <value>POST</value>
            </property>
            <property>
              <name>Remote URL</name>
              <value>https://amadeuslyceum.swp.nl:8800/soap?service=Algemeen HTTP/1.1
</value>
            </property>
            <property>
              <name>SSL Context Service</name>
            </property>
            <property>
              <name>Connection Timeout</name>
              <value>5 secs</value>
            </property>
            <property>
              <name>Read Timeout</name>
              <value>15 secs</value>
            </property>
            <property>
              <name>idle-timeout</name>
              <value>5 mins</value>
            </property>
            <property>
              <name>max-idle-connections</name>
              <value>5</value>
            </property>
            <property>
              <name>Include Date Header</name>
              <value>True</value>
            </property>
            <property>
              <name>Follow Redirects</name>
              <value>True</value>
            </property>
            <property>
              <name>disable-http2</name>
              <value>False</value>
            </property>
            <property>
              <name>Attributes to Send</name>
            </property>
            <property>
              <name>Useragent</name>
            </property>
            <property>
              <name>Basic Authentication Username</name>
            </property>
            <property>
              <name>Basic Authentication Password</name>
            </property>
            <property>
              <name>proxy-configuration-service</name>
            </property>
            <property>
              <name>Proxy Host</name>
            </property>
            <property>
              <name>Proxy Port</name>
            </property>
            <property>
              <name>Proxy Type</name>
              <value>http</value>
            </property>
            <property>
              <name>invokehttp-proxy-user</name>
            </property>
            <property>
              <name>invokehttp-proxy-password</name>
            </property>
            <property>
              <name>Put Response Body In Attribute</name>
            </property>
            <property>
              <name>Max Length To Put In Attribute</name>
              <value>256</value>
            </property>
            <property>
              <name>Digest Authentication</name>
              <value>false</value>
            </property>
            <property>
              <name>Always Output Response</name>
              <value>false</value>
            </property>
            <property>
              <name>Add Response Headers to Request</name>
              <value>false</value>
            </property>
            <property>
              <name>Content-Type</name>
              <value>${mime.type}</value>
            </property>
            <property>
              <name>send-message-body</name>
              <value>true</value>
            </property>
            <property>
              <name>Use Chunked Encoding</name>
              <value>false</value>
            </property>
            <property>
              <name>Penalize on "No Retry"</name>
              <value>false</value>
            </property>
            <property>
              <name>use-etag</name>
              <value>false</value>
            </property>
            <property>
              <name>etag-max-cache-size</name>
              <value>10MB</value>
            </property>
            <property>
              <name>ignore-response-content</name>
              <value>false</value>
            </property>
            <property>
              <name>form-body-form-name</name>
            </property>
            <property>
              <name>set-form-filename</name>
              <value>true</value>
            </property>
            <property>
              <name>SOAPAction</name>
              <value>${soapaction}</value>
            </property>
            <autoTerminatedRelationship>Original</autoTerminatedRelationship>
            <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
            <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>01791000-ce3f-117b-77ce-fa3cf73f93bf</id>
            <versionedComponentId>6b5d2c53-a2ca-3336-99e0-bb4039bb8326</versionedComponentId>
            <name>CreateAppointmentsReq</name>
            <position x="1040.0" y="296.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.ReplaceText</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>Regular Expression</name>
              <value>(?s)(^.*$)</value>
            </property>
            <property>
              <name>Replacement Value</name>
              <value>&lt;soapenv:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:urn="urn:MediusServer_Soap-Data"&gt;
   &lt;soapenv:Header/&gt;
   &lt;soapenv:Body&gt;
      &lt;urn:GetData soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"&gt;
         &lt;SessionToken xsi:type="xsd:string"&gt;${token}&lt;/SessionToken&gt;
         &lt;Layout xsi:type="xsd:string"&gt;DIS_Appointments&lt;/Layout&gt;
         &lt;Parameters xsi:type="xsd:string"&gt;&lt;/Parameters&gt;
      &lt;/urn:GetData&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;</value>
            </property>
            <property>
              <name>Character Set</name>
              <value>UTF-8</value>
            </property>
            <property>
              <name>Maximum Buffer Size</name>
              <value>1 MB</value>
            </property>
            <property>
              <name>Replacement Strategy</name>
              <value>Regex Replace</value>
            </property>
            <property>
              <name>Evaluation Mode</name>
              <value>Entire text</value>
            </property>
            <property>
              <name>Line-by-Line Evaluation Mode</name>
              <value>All</value>
            </property>
            <autoTerminatedRelationship>failure</autoTerminatedRelationship>
          </processor>
          <outputPort>
            <id>01791006-250e-1293-3779-047910999123</id>
            <versionedComponentId>dc91af28-f45d-3233-b8a3-78c79d00b527</versionedComponentId>
            <name>Appointments</name>
            <position x="1040.0" y="728.0"/>
            <comments/>
            <scheduledState>STOPPED</scheduledState>
          </outputPort>
          <connection>
            <id>01791002-250e-1293-45d5-5dbafb65f451</id>
            <versionedComponentId>5c95e602-850c-33ec-b750-d175bc47895c</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-3d01-1109-5191-e93c49caec78</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791000-88f0-1160-d416-38fa6d3bb949</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>Response</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791013-250e-1293-7043-0b39bcb01901</id>
            <versionedComponentId>510c0a07-4e79-3684-b424-2623fd1b52eb</versionedComponentId>
            <name/>
            <bendPoints>
              <bendPoint x="1508.3455810546875" y="151.65443420410156"/>
              <bendPoint x="1508.3455810546875" y="201.65443420410156"/>
            </bendPoints>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-3d01-1109-5191-e93c49caec78</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791000-3d01-1109-5191-e93c49caec78</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>Failure</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791014-250e-1293-a7ac-92ce2e65873d</id>
            <versionedComponentId>3d3a1023-1dc9-3625-830b-bbbf0d92bfe1</versionedComponentId>
            <name/>
            <bendPoints>
              <bendPoint x="1504.7055053710938" y="519.3092346191406"/>
              <bendPoint x="1504.7055053710938" y="569.3092346191406"/>
            </bendPoints>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-4d22-117e-7906-3f53a0645923</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791000-4d22-117e-7906-3f53a0645923</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>Failure</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791003-250e-1293-f7a9-44a4521ec15d</id>
            <versionedComponentId>c6d0abdd-5c8c-39ba-8f04-a45a7f1b2409</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-88f0-1160-d416-38fa6d3bb949</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791000-ce3f-117b-77ce-fa3cf73f93bf</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>matched</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791001-80f4-11f9-526f-e478b0296485</id>
            <versionedComponentId>725e5dd0-553d-3083-8a99-b0d2fb5252a9</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-4d22-117e-7906-3f53a0645923</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791000-80f4-11f9-3339-4a9656f11cae</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>Response</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791002-80f4-11f9-9058-dfcc1a859886</id>
            <versionedComponentId>b03d45a9-bd06-391e-ad30-d6aee5d71b7e</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-80f4-11f9-3339-4a9656f11cae</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791006-250e-1293-3779-047910999123</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>OUTPUT_PORT</destinationType>
            <relationship>matched</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791004-250e-1293-d7e9-f6c92412dd0a</id>
            <versionedComponentId>a359c992-74ed-3480-967f-e5bc07c86289</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-ce3f-117b-77ce-fa3cf73f93bf</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791000-6a88-1186-493f-a2c7c39b43f0</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>success</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791001-250e-1293-25dd-aed8f6b4e4cd</id>
            <versionedComponentId>6361d1ee-f780-3dfe-966c-365c564185b6</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-38b6-110a-6fee-d395d033033a</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791000-3d01-1109-5191-e93c49caec78</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>success</relationship>
            <maxWorkQueueSize>1</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791005-250e-1293-ab25-d15dfc874b06</id>
            <versionedComponentId>1c1c83fd-4ace-3032-8687-62a9aa86dd60</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>01791000-6a88-1186-493f-a2c7c39b43f0</sourceId>
            <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>01791000-4d22-117e-7906-3f53a0645923</destinationId>
            <destinationGroupId>4293250e-0179-1000-1f8b-763942fdd487</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>success</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <parameterContextId>422c8335-0179-1000-4533-18cdf891a9bc</parameterContextId>
        </processGroup>
        <connection>
          <id>01791004-80f4-11f9-01fe-fbdf873138a3</id>
          <versionedComponentId>41386d47-07ce-303f-b1fe-cb10ada55961</versionedComponentId>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01791006-250e-1293-3779-047910999123</sourceId>
          <sourceGroupId>4293250e-0179-1000-1f8b-763942fdd487</sourceGroupId>
          <sourceType>OUTPUT_PORT</sourceType>
          <destinationId>01791003-80f4-11f9-83f1-728e455208a0</destinationId>
          <destinationGroupId>4108deff-0179-1000-e2da-852c52586285</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship/>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
          <partitioningAttribute/>
          <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
        </connection>
        <controllerService>
          <id>421cb4a5-0179-1000-9fb5-b5ebb1b94bb4</id>
          <versionedComponentId>8d28a4ee-6058-33c8-9f3b-bbfab4c757d6</versionedComponentId>
          <name>ParquetRecordSetWriter</name>
          <comment/>
          <class>org.apache.nifi.parquet.ParquetRecordSetWriter</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-parquet-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>false</enabled>
          <property>
            <name>Schema Write Strategy</name>
            <value>no-schema</value>
          </property>
          <property>
            <name>schema-cache</name>
          </property>
          <property>
            <name>schema-protocol-version</name>
            <value>1</value>
          </property>
          <property>
            <name>schema-access-strategy</name>
            <value>inherit-record-schema</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>${avro.schema}</value>
          </property>
          <property>
            <name>cache-size</name>
            <value>1000</value>
          </property>
          <property>
            <name>compression-type</name>
            <value>UNCOMPRESSED</value>
          </property>
          <property>
            <name>row-group-size</name>
          </property>
          <property>
            <name>page-size</name>
          </property>
          <property>
            <name>dictionary-page-size</name>
          </property>
          <property>
            <name>max-padding-size</name>
          </property>
          <property>
            <name>enable-dictionary-encoding</name>
          </property>
          <property>
            <name>enable-validation</name>
          </property>
          <property>
            <name>writer-version</name>
          </property>
          <property>
            <name>avro-write-old-list-structure</name>
            <value>true</value>
          </property>
          <property>
            <name>avro-add-list-element-records</name>
            <value>true</value>
          </property>
        </controllerService>
        <controllerService>
          <id>421169a0-0179-1000-05e1-72020915ecf3</id>
          <versionedComponentId>deb43cb7-341d-3684-be25-d74e2a6d1dd6</versionedComponentId>
          <name>XMLReader</name>
          <comment/>
          <class>org.apache.nifi.xml.XMLReader</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>false</enabled>
          <property>
            <name>schema-access-strategy</name>
            <value>schema-text-property</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>#{magister.avroschema}</value>
          </property>
          <property>
            <name>schema-inference-cache</name>
          </property>
          <property>
            <name>record_format</name>
            <value>false</value>
          </property>
          <property>
            <name>attribute_prefix</name>
          </property>
          <property>
            <name>content_field_name</name>
          </property>
          <property>
            <name>Date Format</name>
          </property>
          <property>
            <name>Time Format</name>
          </property>
          <property>
            <name>Timestamp Format</name>
          </property>
        </controllerService>
        <controllerService>
          <id>4211fecc-0179-1000-6da9-ae21bdbdda82</id>
          <versionedComponentId>ef0d148d-12f2-3a23-a8d8-e19d3cb820a5</versionedComponentId>
          <name>CSVRecordSetWriter</name>
          <comment/>
          <class>org.apache.nifi.csv.CSVRecordSetWriter</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>false</enabled>
          <property>
            <name>Schema Write Strategy</name>
            <value>no-schema</value>
          </property>
          <property>
            <name>schema-cache</name>
          </property>
          <property>
            <name>schema-protocol-version</name>
            <value>1</value>
          </property>
          <property>
            <name>schema-access-strategy</name>
            <value>inherit-record-schema</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>${avro.schema}</value>
          </property>
          <property>
            <name>Date Format</name>
          </property>
          <property>
            <name>Time Format</name>
          </property>
          <property>
            <name>Timestamp Format</name>
          </property>
          <property>
            <name>CSV Format</name>
            <value>custom</value>
          </property>
          <property>
            <name>Value Separator</name>
            <value>,</value>
          </property>
          <property>
            <name>Include Header Line</name>
            <value>true</value>
          </property>
          <property>
            <name>Quote Character</name>
            <value>"</value>
          </property>
          <property>
            <name>Escape Character</name>
            <value>\</value>
          </property>
          <property>
            <name>Comment Marker</name>
          </property>
          <property>
            <name>Null String</name>
          </property>
          <property>
            <name>Trim Fields</name>
            <value>true</value>
          </property>
          <property>
            <name>Quote Mode</name>
            <value>MINIMAL</value>
          </property>
          <property>
            <name>Record Separator</name>
            <value>\n</value>
          </property>
          <property>
            <name>Include Trailing Delimiter</name>
            <value>false</value>
          </property>
          <property>
            <name>csvutils-character-set</name>
            <value>UTF-8</value>
          </property>
        </controllerService>
        <controllerService>
          <id>421ce080-0179-1000-0a94-281d510da86a</id>
          <versionedComponentId>8d390dd0-fbf4-39e9-9761-1c7985aad8cd</versionedComponentId>
          <name>AvroRecordSetWriter</name>
          <comment/>
          <class>org.apache.nifi.avro.AvroRecordSetWriter</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>false</enabled>
          <property>
            <name>Schema Write Strategy</name>
            <value>avro-embedded</value>
          </property>
          <property>
            <name>schema-cache</name>
          </property>
          <property>
            <name>schema-protocol-version</name>
            <value>1</value>
          </property>
          <property>
            <name>schema-access-strategy</name>
            <value>inherit-record-schema</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>${avro.schema}</value>
          </property>
          <property>
            <name>compression-format</name>
            <value>NONE</value>
          </property>
          <property>
            <name>cache-size</name>
            <value>1000</value>
          </property>
          <property>
            <name>encoder-pool-size</name>
            <value>32</value>
          </property>
        </controllerService>
        <controllerService>
          <id>421d0a79-0179-1000-738c-2d090c01cb3a</id>
          <versionedComponentId>5babe70e-727c-30ed-b7b5-5fb0fd712ebf</versionedComponentId>
          <name>XMLRecordSetWriter</name>
          <comment/>
          <class>org.apache.nifi.xml.XMLRecordSetWriter</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>Schema Write Strategy</name>
            <value>no-schema</value>
          </property>
          <property>
            <name>schema-cache</name>
          </property>
          <property>
            <name>schema-protocol-version</name>
            <value>1</value>
          </property>
          <property>
            <name>schema-access-strategy</name>
            <value>inherit-record-schema</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>${avro.schema}</value>
          </property>
          <property>
            <name>Date Format</name>
          </property>
          <property>
            <name>Time Format</name>
          </property>
          <property>
            <name>Timestamp Format</name>
          </property>
          <property>
            <name>suppress_nulls</name>
            <value>never-suppress</value>
          </property>
          <property>
            <name>pretty_print_xml</name>
            <value>false</value>
          </property>
          <property>
            <name>omit_xml_declaration</name>
            <value>false</value>
          </property>
          <property>
            <name>root_tag_name</name>
          </property>
          <property>
            <name>record_tag_name</name>
          </property>
          <property>
            <name>array_wrapping</name>
            <value>no-wrapping</value>
          </property>
          <property>
            <name>array_tag_name</name>
          </property>
          <property>
            <name>Character Set</name>
            <value>UTF-8</value>
          </property>
        </controllerService>
        <parameterContextId>422c8335-0179-1000-4533-18cdf891a9bc</parameterContextId>
      </processGroup>
      <processGroup>
        <id>3175e831-0179-1000-6519-a2c2adadd1d5</id>
        <versionedComponentId>dd81a5e4-b30e-3d8d-8eb5-d9c816c9ea65</versionedComponentId>
        <name>Dev Zermelo</name>
        <position x="448.0" y="16.0"/>
        <comment/>
        <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
        <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
        <processGroup>
          <id>01791003-200b-16d5-fe19-483968fa91b8</id>
          <versionedComponentId>7d55e097-8117-3ac3-8c30-1caaa698bfb0</versionedComponentId>
          <name>Teachers</name>
          <position x="288.0" y="136.0"/>
          <comment/>
          <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
          <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
          <processor>
            <id>3b877c05-0179-1000-bfd8-eea613a2de95</id>
            <versionedComponentId>6e4381e4-d25b-36e5-9170-76a8abcacf0d</versionedComponentId>
            <name>InvokeHTTP</name>
            <position x="544.0" y="24.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>5 min</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>HTTP Method</name>
              <value>GET</value>
            </property>
            <property>
              <name>Remote URL</name>
              <value>#{zermelo.baseurl}#{zermelo.api}#{zermelo.teachers}</value>
            </property>
            <property>
              <name>SSL Context Service</name>
            </property>
            <property>
              <name>Connection Timeout</name>
              <value>5 secs</value>
            </property>
            <property>
              <name>Read Timeout</name>
              <value>15 secs</value>
            </property>
            <property>
              <name>idle-timeout</name>
              <value>5 mins</value>
            </property>
            <property>
              <name>max-idle-connections</name>
              <value>5</value>
            </property>
            <property>
              <name>Include Date Header</name>
              <value>True</value>
            </property>
            <property>
              <name>Follow Redirects</name>
              <value>True</value>
            </property>
            <property>
              <name>disable-http2</name>
              <value>False</value>
            </property>
            <property>
              <name>Attributes to Send</name>
            </property>
            <property>
              <name>Useragent</name>
            </property>
            <property>
              <name>Basic Authentication Username</name>
            </property>
            <property>
              <name>Basic Authentication Password</name>
            </property>
            <property>
              <name>proxy-configuration-service</name>
            </property>
            <property>
              <name>Proxy Host</name>
            </property>
            <property>
              <name>Proxy Port</name>
            </property>
            <property>
              <name>Proxy Type</name>
              <value>http</value>
            </property>
            <property>
              <name>invokehttp-proxy-user</name>
            </property>
            <property>
              <name>invokehttp-proxy-password</name>
            </property>
            <property>
              <name>Put Response Body In Attribute</name>
            </property>
            <property>
              <name>Max Length To Put In Attribute</name>
              <value>256</value>
            </property>
            <property>
              <name>Digest Authentication</name>
              <value>false</value>
            </property>
            <property>
              <name>Always Output Response</name>
              <value>false</value>
            </property>
            <property>
              <name>Add Response Headers to Request</name>
              <value>false</value>
            </property>
            <property>
              <name>Content-Type</name>
              <value>${mime.type}</value>
            </property>
            <property>
              <name>send-message-body</name>
              <value>true</value>
            </property>
            <property>
              <name>Use Chunked Encoding</name>
              <value>false</value>
            </property>
            <property>
              <name>Penalize on "No Retry"</name>
              <value>false</value>
            </property>
            <property>
              <name>use-etag</name>
              <value>false</value>
            </property>
            <property>
              <name>etag-max-cache-size</name>
              <value>10MB</value>
            </property>
            <property>
              <name>ignore-response-content</name>
              <value>false</value>
            </property>
            <property>
              <name>form-body-form-name</name>
            </property>
            <property>
              <name>set-form-filename</name>
              <value>true</value>
            </property>
            <property>
              <name>Authorization</name>
              <value>#{zermelo.oauthtoken}</value>
            </property>
            <autoTerminatedRelationship>Original</autoTerminatedRelationship>
            <autoTerminatedRelationship>Failure</autoTerminatedRelationship>
            <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
            <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>3c4ba1a6-0179-1000-670b-f8eb953c8b44</id>
            <versionedComponentId>fdf2060a-33a6-385c-a541-230ac9961c5b</versionedComponentId>
            <name>EvaluateJsonPath</name>
            <position x="544.0" y="272.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>Destination</name>
              <value>flowfile-content</value>
            </property>
            <property>
              <name>Return Type</name>
              <value>auto-detect</value>
            </property>
            <property>
              <name>Path Not Found Behavior</name>
              <value>ignore</value>
            </property>
            <property>
              <name>Null Value Representation</name>
              <value>empty string</value>
            </property>
            <property>
              <name>data</name>
              <value>$.response.data</value>
            </property>
            <autoTerminatedRelationship>failure</autoTerminatedRelationship>
            <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
            <autoTerminatedRelationship>matched</autoTerminatedRelationship>
          </processor>
          <connection>
            <id>3c4bf0ff-0179-1000-3436-93ecdeb8aaba</id>
            <versionedComponentId>c30078d8-05b7-340f-8aad-5a78e1a9ef5c</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>3b877c05-0179-1000-bfd8-eea613a2de95</sourceId>
            <sourceGroupId>01791003-200b-16d5-fe19-483968fa91b8</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>3c4ba1a6-0179-1000-670b-f8eb953c8b44</destinationId>
            <destinationGroupId>01791003-200b-16d5-fe19-483968fa91b8</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>Response</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <controllerService>
            <id>3bee8f34-0179-1000-a198-69753d98cb5f</id>
            <versionedComponentId>7fb6e72b-0a07-33fc-96a7-01f888c6ee74</versionedComponentId>
            <name>JsonPathReader</name>
            <comment/>
            <class>org.apache.nifi.json.JsonPathReader</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-record-serialization-services-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <enabled>false</enabled>
            <property>
              <name>schema-access-strategy</name>
              <value>infer-schema</value>
            </property>
            <property>
              <name>schema-registry</name>
            </property>
            <property>
              <name>schema-name</name>
              <value>${schema.name}</value>
            </property>
            <property>
              <name>schema-version</name>
            </property>
            <property>
              <name>schema-branch</name>
            </property>
            <property>
              <name>schema-text</name>
              <value>${avro.schema}</value>
            </property>
            <property>
              <name>Date Format</name>
            </property>
            <property>
              <name>Time Format</name>
            </property>
            <property>
              <name>Timestamp Format</name>
            </property>
          </controllerService>
          <parameterContextId>373d27d7-0179-1000-d983-0068b297e068</parameterContextId>
        </processGroup>
        <processGroup>
          <id>01791001-200b-16d5-b459-6b85a10448e5</id>
          <versionedComponentId>7f4d7089-8179-3125-9296-4f89fa871e09</versionedComponentId>
          <name>Appointments</name>
          <position x="712.0" y="136.0"/>
          <comment/>
          <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
          <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
          <processor>
            <id>322c83ac-0179-1000-de45-d03e493364e3</id>
            <versionedComponentId>b137f458-7360-38e9-888a-ed4f7f792b62</versionedComponentId>
            <name>GetAppointmentsFromJson</name>
            <position x="512.0" y="248.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>Destination</name>
              <value>flowfile-content</value>
            </property>
            <property>
              <name>Return Type</name>
              <value>auto-detect</value>
            </property>
            <property>
              <name>Path Not Found Behavior</name>
              <value>ignore</value>
            </property>
            <property>
              <name>Null Value Representation</name>
              <value>empty string</value>
            </property>
            <property>
              <name>data</name>
              <value>$.response.data</value>
            </property>
            <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>0179100f-200b-16d5-8502-f0b83ba04e8a</id>
            <versionedComponentId>3ed1c729-8b62-3ac7-91b9-8f14cfbd60f3</versionedComponentId>
            <name>PutFile</name>
            <position x="288.0" y="720.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.PutFile</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>Directory</name>
              <value>/tmp/${now():toNumber()}.avro</value>
            </property>
            <property>
              <name>Conflict Resolution Strategy</name>
              <value>fail</value>
            </property>
            <property>
              <name>Create Missing Directories</name>
              <value>true</value>
            </property>
            <property>
              <name>Maximum File Count</name>
            </property>
            <property>
              <name>Last Modified Time</name>
            </property>
            <property>
              <name>Permissions</name>
            </property>
            <property>
              <name>Owner</name>
            </property>
            <property>
              <name>Group</name>
            </property>
            <autoTerminatedRelationship>success</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>35ff3174-0179-1000-40a5-52cf5b0ee66f</id>
            <versionedComponentId>fe7a58c7-0efc-39c6-8726-8c70db165844</versionedComponentId>
            <name>PutFile</name>
            <position x="776.0" y="712.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.PutFile</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>Directory</name>
              <value>/tmp</value>
            </property>
            <property>
              <name>Conflict Resolution Strategy</name>
              <value>fail</value>
            </property>
            <property>
              <name>Create Missing Directories</name>
              <value>true</value>
            </property>
            <property>
              <name>Maximum File Count</name>
            </property>
            <property>
              <name>Last Modified Time</name>
            </property>
            <property>
              <name>Permissions</name>
            </property>
            <property>
              <name>Owner</name>
            </property>
            <property>
              <name>Group</name>
            </property>
            <autoTerminatedRelationship>success</autoTerminatedRelationship>
            <autoTerminatedRelationship>failure</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>36d5200b-0179-1000-9001-bf9d9a1a8b01</id>
            <versionedComponentId>64b4b898-1601-3a96-bc49-00df6dcf232b</versionedComponentId>
            <name>QueryTeachers</name>
            <position x="288.0" y="496.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.QueryRecord</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>record-reader</name>
              <value>364d1864-0179-1000-61c2-7c8b3fa4dd6e</value>
            </property>
            <property>
              <name>record-writer</name>
              <value>35f390ce-0179-1000-baae-eb0852c4233c</value>
            </property>
            <property>
              <name>include-zero-record-flowfiles</name>
              <value>true</value>
            </property>
            <property>
              <name>cache-schema</name>
              <value>true</value>
            </property>
            <property>
              <name>dbf-default-precision</name>
              <value>10</value>
            </property>
            <property>
              <name>dbf-default-scale</name>
              <value>0</value>
            </property>
            <property>
              <name>teachers</name>
              <value>SELECT * FROM FLOWFILE WHERE teacher = 'doc1'</value>
            </property>
            <autoTerminatedRelationship>failure</autoTerminatedRelationship>
            <autoTerminatedRelationship>original</autoTerminatedRelationship>
          </processor>
          <processor>
            <id>35fe5711-0179-1000-7aea-d2a12f82ac8a</id>
            <versionedComponentId>d4d78ad3-270b-36b0-842c-ae36aae1c6c2</versionedComponentId>
            <name>ConvertToCsv</name>
            <position x="776.0" y="496.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.ConvertRecord</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>record-reader</name>
              <value>364d1864-0179-1000-61c2-7c8b3fa4dd6e</value>
            </property>
            <property>
              <name>record-writer</name>
              <value>35fa436e-0179-1000-b356-42982b4bcd93</value>
            </property>
            <property>
              <name>include-zero-record-flowfiles</name>
              <value>true</value>
            </property>
          </processor>
          <processor>
            <id>3179ae17-0179-1000-5040-e31fc42589b6</id>
            <versionedComponentId>5350912f-55b8-3338-9f5a-5cd9cd0525e7</versionedComponentId>
            <name>InvokeZermeloRestApi</name>
            <position x="520.0" y="40.0"/>
            <styles/>
            <comment/>
            <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
            <bundle>
              <group>org.apache.nifi</group>
              <artifact>nifi-standard-nar</artifact>
              <version>1.13.2</version>
            </bundle>
            <maxConcurrentTasks>1</maxConcurrentTasks>
            <schedulingPeriod>60 sec</schedulingPeriod>
            <penalizationPeriod>30 sec</penalizationPeriod>
            <yieldPeriod>1 sec</yieldPeriod>
            <bulletinLevel>WARN</bulletinLevel>
            <lossTolerant>false</lossTolerant>
            <scheduledState>STOPPED</scheduledState>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <executionNode>ALL</executionNode>
            <runDurationNanos>0</runDurationNanos>
            <property>
              <name>HTTP Method</name>
              <value>GET</value>
            </property>
            <property>
              <name>Remote URL</name>
              <value>#{zermelo.baseurl}#{zermelo.api}#{zermelo.appointments}?start=#{zermelo.start}&amp;end=#{zermelo.end}&amp;includeHidden=true</value>
            </property>
            <property>
              <name>SSL Context Service</name>
            </property>
            <property>
              <name>Connection Timeout</name>
              <value>5 secs</value>
            </property>
            <property>
              <name>Read Timeout</name>
              <value>15 secs</value>
            </property>
            <property>
              <name>idle-timeout</name>
              <value>5 mins</value>
            </property>
            <property>
              <name>max-idle-connections</name>
              <value>5</value>
            </property>
            <property>
              <name>Include Date Header</name>
              <value>True</value>
            </property>
            <property>
              <name>Follow Redirects</name>
              <value>True</value>
            </property>
            <property>
              <name>disable-http2</name>
              <value>False</value>
            </property>
            <property>
              <name>Attributes to Send</name>
              <value>Authorization</value>
            </property>
            <property>
              <name>Useragent</name>
            </property>
            <property>
              <name>Basic Authentication Username</name>
            </property>
            <property>
              <name>Basic Authentication Password</name>
            </property>
            <property>
              <name>proxy-configuration-service</name>
            </property>
            <property>
              <name>Proxy Host</name>
            </property>
            <property>
              <name>Proxy Port</name>
            </property>
            <property>
              <name>Proxy Type</name>
              <value>http</value>
            </property>
            <property>
              <name>invokehttp-proxy-user</name>
            </property>
            <property>
              <name>invokehttp-proxy-password</name>
            </property>
            <property>
              <name>Put Response Body In Attribute</name>
            </property>
            <property>
              <name>Max Length To Put In Attribute</name>
              <value>256</value>
            </property>
            <property>
              <name>Digest Authentication</name>
              <value>false</value>
            </property>
            <property>
              <name>Always Output Response</name>
              <value>false</value>
            </property>
            <property>
              <name>Add Response Headers to Request</name>
              <value>true</value>
            </property>
            <property>
              <name>Content-Type</name>
              <value>${mime.type}</value>
            </property>
            <property>
              <name>send-message-body</name>
              <value>true</value>
            </property>
            <property>
              <name>Use Chunked Encoding</name>
              <value>false</value>
            </property>
            <property>
              <name>Penalize on "No Retry"</name>
              <value>false</value>
            </property>
            <property>
              <name>use-etag</name>
              <value>false</value>
            </property>
            <property>
              <name>etag-max-cache-size</name>
              <value>10MB</value>
            </property>
            <property>
              <name>ignore-response-content</name>
              <value>false</value>
            </property>
            <property>
              <name>form-body-form-name</name>
            </property>
            <property>
              <name>set-form-filename</name>
              <value>true</value>
            </property>
            <property>
              <name>Authorization</name>
              <value>#{zermelo.oauthtoken}</value>
            </property>
            <autoTerminatedRelationship>Original</autoTerminatedRelationship>
            <autoTerminatedRelationship>Retry</autoTerminatedRelationship>
            <autoTerminatedRelationship>No Retry</autoTerminatedRelationship>
          </processor>
          <label>
            <id>31fae5be-0179-1000-2dfb-45ec043337b6</id>
            <versionedComponentId>2407a7ff-15e4-3064-90cc-bd37f2c02475</versionedComponentId>
            <position x="560.0" y="8.0"/>
            <size height="24.0" width="248.0"/>
            <styles>
              <style name="font-size">12px</style>
            </styles>
            <value>Get the appointments for the next 3 weeks.</value>
          </label>
          <connection>
            <id>35fe809c-0179-1000-e120-99862459d7e1</id>
            <versionedComponentId>8048f066-0692-3dc0-b7ab-85e7886d7999</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>322c83ac-0179-1000-de45-d03e493364e3</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>35fe5711-0179-1000-7aea-d2a12f82ac8a</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>matched</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>322cec59-0179-1000-5158-12f343564347</id>
            <versionedComponentId>c09a173e-f0a3-397b-915a-c7f4602c9aaa</versionedComponentId>
            <name/>
            <bendPoints>
              <bendPoint x="991.62255859375" y="293.0250778198242"/>
              <bendPoint x="991.62255859375" y="343.0250778198242"/>
            </bendPoints>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>322c83ac-0179-1000-de45-d03e493364e3</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>322c83ac-0179-1000-de45-d03e493364e3</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>failure</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>375abed2-0179-1000-7181-9b23c8f14899</id>
            <versionedComponentId>cf3aab9b-037c-390c-a90a-35cd0f101db1</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>322c83ac-0179-1000-de45-d03e493364e3</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>36d5200b-0179-1000-9001-bf9d9a1a8b01</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>matched</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>36c00496-0179-1000-66ac-6fba4d2c3674</id>
            <versionedComponentId>f7caee01-804f-32f0-9ba2-56e634d2c2e5</versionedComponentId>
            <name/>
            <bendPoints>
              <bendPoint x="1249.7153930664062" y="541.1899642944336"/>
              <bendPoint x="1249.7153930664062" y="591.1899642944336"/>
            </bendPoints>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>35fe5711-0179-1000-7aea-d2a12f82ac8a</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>35fe5711-0179-1000-7aea-d2a12f82ac8a</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>failure</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791010-200b-16d5-b31d-2d7904ad6674</id>
            <versionedComponentId>b04eb38b-c3e5-315c-9608-5d547c1e1716</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>36d5200b-0179-1000-9001-bf9d9a1a8b01</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>0179100f-200b-16d5-8502-f0b83ba04e8a</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>teachers</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>35ffa3a5-0179-1000-9b6e-2d56c622b762</id>
            <versionedComponentId>257cfc8e-6890-3c50-b7dd-22adc288e3f7</versionedComponentId>
            <name/>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>35fe5711-0179-1000-7aea-d2a12f82ac8a</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>35ff3174-0179-1000-40a5-52cf5b0ee66f</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>success</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>01791013-200b-16d5-447a-958927803b2a</id>
            <versionedComponentId>3ea4d88f-0e4a-3bd0-8814-740b104260eb</versionedComponentId>
            <name/>
            <bendPoints>
              <bendPoint x="757.0" y="759.0"/>
              <bendPoint x="757.0" y="809.0"/>
            </bendPoints>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>0179100f-200b-16d5-8502-f0b83ba04e8a</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>0179100f-200b-16d5-8502-f0b83ba04e8a</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>failure</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>321ae9d3-0179-1000-0a09-0a2d7da9b596</id>
            <versionedComponentId>0493613f-55ab-3ec5-a163-b7d4f155016a</versionedComponentId>
            <name/>
            <bendPoints>
              <bendPoint x="992.1260681152344" y="86.58062362670898"/>
              <bendPoint x="992.1260681152344" y="136.58062362670898"/>
            </bendPoints>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>3179ae17-0179-1000-5040-e31fc42589b6</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>3179ae17-0179-1000-5040-e31fc42589b6</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>Failure</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <connection>
            <id>322cab67-0179-1000-27eb-f40e6fdc46b3</id>
            <versionedComponentId>782aa35c-a389-3eba-8b2d-c71dc757ffe4</versionedComponentId>
            <name>JsonResponse</name>
            <bendPoints/>
            <labelIndex>1</labelIndex>
            <zIndex>0</zIndex>
            <sourceId>3179ae17-0179-1000-5040-e31fc42589b6</sourceId>
            <sourceGroupId>01791001-200b-16d5-b459-6b85a10448e5</sourceGroupId>
            <sourceType>PROCESSOR</sourceType>
            <destinationId>322c83ac-0179-1000-de45-d03e493364e3</destinationId>
            <destinationGroupId>01791001-200b-16d5-b459-6b85a10448e5</destinationGroupId>
            <destinationType>PROCESSOR</destinationType>
            <relationship>Response</relationship>
            <maxWorkQueueSize>10000</maxWorkQueueSize>
            <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <partitioningAttribute/>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
          </connection>
          <parameterContextId>373d27d7-0179-1000-d983-0068b297e068</parameterContextId>
        </processGroup>
        <controllerService>
          <id>35fa436e-0179-1000-b356-42982b4bcd93</id>
          <versionedComponentId>a4f26ec7-b359-34f1-9407-61cfad90bbb5</versionedComponentId>
          <name>CSVRecordSetWriter</name>
          <comment/>
          <class>org.apache.nifi.csv.CSVRecordSetWriter</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>Schema Write Strategy</name>
            <value>no-schema</value>
          </property>
          <property>
            <name>schema-cache</name>
          </property>
          <property>
            <name>schema-protocol-version</name>
            <value>1</value>
          </property>
          <property>
            <name>schema-access-strategy</name>
            <value>inherit-record-schema</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>${avro.schema}</value>
          </property>
          <property>
            <name>Date Format</name>
          </property>
          <property>
            <name>Time Format</name>
          </property>
          <property>
            <name>Timestamp Format</name>
          </property>
          <property>
            <name>CSV Format</name>
            <value>custom</value>
          </property>
          <property>
            <name>Value Separator</name>
            <value>,</value>
          </property>
          <property>
            <name>Include Header Line</name>
            <value>true</value>
          </property>
          <property>
            <name>Quote Character</name>
            <value>"</value>
          </property>
          <property>
            <name>Escape Character</name>
            <value>\</value>
          </property>
          <property>
            <name>Comment Marker</name>
          </property>
          <property>
            <name>Null String</name>
          </property>
          <property>
            <name>Trim Fields</name>
            <value>true</value>
          </property>
          <property>
            <name>Quote Mode</name>
            <value>MINIMAL</value>
          </property>
          <property>
            <name>Record Separator</name>
            <value>\n</value>
          </property>
          <property>
            <name>Include Trailing Delimiter</name>
            <value>false</value>
          </property>
          <property>
            <name>csvutils-character-set</name>
            <value>UTF-8</value>
          </property>
        </controllerService>
        <controllerService>
          <id>376f493c-0179-1000-c959-512ccc52c158</id>
          <versionedComponentId>5d7422ae-4ee0-3a0f-87a1-c13a3828df64</versionedComponentId>
          <name>DistributedMapCacheServer</name>
          <comment/>
          <class>org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-distributed-cache-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>Port</name>
            <value>4557</value>
          </property>
          <property>
            <name>Maximum Cache Entries</name>
            <value>10000</value>
          </property>
          <property>
            <name>Eviction Strategy</name>
            <value>Least Frequently Used</value>
          </property>
          <property>
            <name>Persistence Directory</name>
          </property>
          <property>
            <name>SSL Context Service</name>
          </property>
        </controllerService>
        <controllerService>
          <id>31adcb01-0179-1000-a65c-f5f45d0ac021</id>
          <versionedComponentId>de49eddc-d616-3b83-8fc4-ee31bcd81a19</versionedComponentId>
          <name>JsonRecordSetWriter</name>
          <comment/>
          <class>org.apache.nifi.json.JsonRecordSetWriter</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>Schema Write Strategy</name>
            <value>no-schema</value>
          </property>
          <property>
            <name>schema-cache</name>
          </property>
          <property>
            <name>schema-protocol-version</name>
            <value>1</value>
          </property>
          <property>
            <name>schema-access-strategy</name>
            <value>inherit-record-schema</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>${avro.schema}</value>
          </property>
          <property>
            <name>Date Format</name>
          </property>
          <property>
            <name>Time Format</name>
          </property>
          <property>
            <name>Timestamp Format</name>
          </property>
          <property>
            <name>Pretty Print JSON</name>
            <value>true</value>
          </property>
          <property>
            <name>suppress-nulls</name>
            <value>never-suppress</value>
          </property>
          <property>
            <name>output-grouping</name>
            <value>output-array</value>
          </property>
          <property>
            <name>compression-format</name>
            <value>none</value>
          </property>
          <property>
            <name>compression-level</name>
            <value>1</value>
          </property>
        </controllerService>
        <controllerService>
          <id>35f390ce-0179-1000-baae-eb0852c4233c</id>
          <versionedComponentId>030214b7-a89e-382d-a187-92f0446b97cb</versionedComponentId>
          <name>AvroRecordSetWriter</name>
          <comment/>
          <class>org.apache.nifi.avro.AvroRecordSetWriter</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>Schema Write Strategy</name>
            <value>avro-embedded</value>
          </property>
          <property>
            <name>schema-cache</name>
          </property>
          <property>
            <name>schema-protocol-version</name>
            <value>1</value>
          </property>
          <property>
            <name>schema-access-strategy</name>
            <value>inherit-record-schema</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>#{avro.schema}</value>
          </property>
          <property>
            <name>compression-format</name>
            <value>DEFLATE</value>
          </property>
          <property>
            <name>cache-size</name>
            <value>1000</value>
          </property>
          <property>
            <name>encoder-pool-size</name>
            <value>32</value>
          </property>
        </controllerService>
        <controllerService>
          <id>376c52da-0179-1000-6a83-868583c98c27</id>
          <versionedComponentId>981e465a-c71d-3710-b639-32a693f7961b</versionedComponentId>
          <name>DistributedMapCacheLookupService</name>
          <comment/>
          <class>org.apache.nifi.lookup.DistributedMapCacheLookupService</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-lookup-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>distributed-map-cache-service</name>
            <value>376ce86c-0179-1000-78e2-8f19cbbf551f</value>
          </property>
          <property>
            <name>character-encoding</name>
            <value>UTF-8</value>
          </property>
        </controllerService>
        <controllerService>
          <id>364d1864-0179-1000-61c2-7c8b3fa4dd6e</id>
          <versionedComponentId>de5bc3f7-20a2-3f93-9379-cc2ce548ae2a</versionedComponentId>
          <name>JsonPathReader</name>
          <comment/>
          <class>org.apache.nifi.json.JsonPathReader</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>schema-access-strategy</name>
            <value>schema-text-property</value>
          </property>
          <property>
            <name>schema-registry</name>
          </property>
          <property>
            <name>schema-name</name>
            <value>${schema.name}</value>
          </property>
          <property>
            <name>schema-version</name>
          </property>
          <property>
            <name>schema-branch</name>
          </property>
          <property>
            <name>schema-text</name>
            <value>#{zermelo.avroschema}</value>
          </property>
          <property>
            <name>Date Format</name>
          </property>
          <property>
            <name>Time Format</name>
          </property>
          <property>
            <name>Timestamp Format</name>
          </property>
          <property>
            <name>type</name>
            <value>$.type</value>
          </property>
          <property>
            <name>cancelled</name>
            <value>$.cancelled</value>
          </property>
          <property>
            <name>location</name>
            <value>$.locations[0]</value>
          </property>
          <property>
            <name>remark</name>
            <value>$.remark</value>
          </property>
          <property>
            <name>group2</name>
            <value>$.groups[1]</value>
          </property>
          <property>
            <name>teacher2</name>
            <value>$.teachers[1]</value>
          </property>
          <property>
            <name>start</name>
            <value>$.start</value>
          </property>
          <property>
            <name>lastModified</name>
            <value>$.lastModified</value>
          </property>
          <property>
            <name>valid</name>
            <value>$.valid</value>
          </property>
          <property>
            <name>id</name>
            <value>$.id</value>
          </property>
          <property>
            <name>subject</name>
            <value>$.subjects[0]</value>
          </property>
          <property>
            <name>changeDescription</name>
            <value>$.changeDescription</value>
          </property>
          <property>
            <name>teacher</name>
            <value>$.teachers[0]</value>
          </property>
          <property>
            <name>appointmentInstance</name>
            <value>$.appointmentInstance</value>
          </property>
          <property>
            <name>hidden</name>
            <value>$.hidden</value>
          </property>
          <property>
            <name>end</name>
            <value>$.end</value>
          </property>
          <property>
            <name>group</name>
            <value>$.groups[0]</value>
          </property>
        </controllerService>
        <controllerService>
          <id>376ce86c-0179-1000-78e2-8f19cbbf551f</id>
          <versionedComponentId>a60c18f5-66a5-3ec5-b68a-c2ab2d7415c5</versionedComponentId>
          <name>DistributedMapCacheClientService</name>
          <comment/>
          <class>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</class>
          <bundle>
            <group>org.apache.nifi</group>
            <artifact>nifi-distributed-cache-services-nar</artifact>
            <version>1.13.2</version>
          </bundle>
          <enabled>true</enabled>
          <property>
            <name>Server Hostname</name>
            <value>localhost</value>
          </property>
          <property>
            <name>Server Port</name>
            <value>4557</value>
          </property>
          <property>
            <name>SSL Context Service</name>
          </property>
          <property>
            <name>Communications Timeout</name>
            <value>30 secs</value>
          </property>
        </controllerService>
        <parameterContextId>373d27d7-0179-1000-d983-0068b297e068</parameterContextId>
      </processGroup>
    </processGroup>
    <controllerService>
      <id>0f4c1041-8fe7-3bb8-4601-06f321dd12fd</id>
      <name>MicrosoftGraphCredentialControllerService</name>
      <comment/>
      <class>nl.speyk.nifi.microsoft.graph.services.MicrosoftGraphCredentialControllerService</class>
      <bundle>
        <group>nl.speyk.nifi</group>
        <artifact>nifi-microsoft-graph-services-nar</artifact>
        <version>0.1.0</version>
      </bundle>
      <enabled>true</enabled>
      <property>
        <name>mg-cs-auth-grant-type</name>
        <value>client_credentials</value>
      </property>
      <property>
        <name>mg-cs-auth-client-id</name>
        <value>4dcf450b-1c52-4ab4-8c21-2650e1563435</value>
      </property>
      <property>
        <name>mg-cs-auth-client-secret</name>
        <value>enc{e23d97550d5595e9d33af27ab4c4910466a9938076d8292143b44ccf597a4f5d87d7381afa11002be18b39d346ff2643c8d35b92d2b3859a01b6b3e3ded69145}</value>
      </property>
      <property>
        <name>mg-cs-auth-tenant-id</name>
        <value>4d9d7628-507b-45a9-b659-03d1f09d16bf</value>
      </property>
      <property>
        <name>mg-cs-auth-scope</name>
        <value>https://graph.microsoft.com/.default</value>
      </property>
    </controllerService>
    <template encoding-version="1.3">
    <description/>
    <groupId>a2407fb9-0178-1000-5dd9-6e17356e6243</groupId>
    <id>b0206b97-3920-44c2-8491-e104d0470827</id>
    <name>Graph Api Calendar Template</name>
    <snippet>
        <controllerServices>
            <id>0f4c1041-8fe7-3bb8-0000-000000000000</id>
            <parentGroupId>7314d3f5-2a79-3052-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-microsoft-graph-services-nar</artifact>
                <group>nl.speyk.nifi</group>
                <version>0.1.0</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>mg-cs-auth-client-secret</key>
                    <value>
                        <name>mg-cs-auth-client-secret</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-grant-type</key>
                    <value>
                        <name>mg-cs-auth-grant-type</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-client-id</key>
                    <value>
                        <name>mg-cs-auth-client-id</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-tenant-id</key>
                    <value>
                        <name>mg-cs-auth-tenant-id</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-scope</key>
                    <value>
                        <name>mg-cs-auth-scope</name>
                    </value>
                </entry>
            </descriptors>
            <name>MicrosoftGraphCredentialControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>mg-cs-auth-client-secret</key>
                </entry>
                <entry>
                    <key>mg-cs-auth-grant-type</key>
                    <value>client_credentials</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-client-id</key>
                    <value>4dcf450b-1c52-4ab4-8c21-2650e1563435</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-tenant-id</key>
                    <value>4d9d7628-507b-45a9-b659-03d1f09d16bf</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-scope</key>
                    <value>https://graph.microsoft.com/.default</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>nl.speyk.nifi.microsoft.graph.services.MicrosoftGraphCredentialControllerService</type>
        </controllerServices>
        <processGroups>
            <id>09628ae4-e2b6-303a-0000-000000000000</id>
            <parentGroupId>7314d3f5-2a79-3052-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments/>
            <contents>
                <connections>
                    <id>0ef12990-98a9-3bf9-0000-000000000000</id>
                    <parentGroupId>09628ae4-e2b6-303a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1029.0</x>
                        <y>-1121.0</y>
                    </bends>
                    <bends>
                        <x>1029.0</x>
                        <y>-1071.0</y>
                    </bends>
                    <destination>
                        <groupId>09628ae4-e2b6-303a-0000-000000000000</groupId>
                        <id>b06057a5-1022-327e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>09628ae4-e2b6-303a-0000-000000000000</groupId>
                        <id>b06057a5-1022-327e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4341f38c-0ae6-3f5d-0000-000000000000</id>
                    <parentGroupId>09628ae4-e2b6-303a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>09628ae4-e2b6-303a-0000-000000000000</groupId>
                        <id>b06057a5-1022-327e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>09628ae4-e2b6-303a-0000-000000000000</groupId>
                        <id>55ae03cb-fbb9-3604-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>446a5e9f-2a66-3c54-0000-000000000000</id>
                    <parentGroupId>09628ae4-e2b6-303a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>09628ae4-e2b6-303a-0000-000000000000</groupId>
                        <id>e8da06c0-78dd-32e2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>09628ae4-e2b6-303a-0000-000000000000</groupId>
                        <id>b06057a5-1022-327e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d0744368-d34f-37f2-0000-000000000000</id>
                    <parentGroupId>09628ae4-e2b6-303a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1030.5509033203125</x>
                        <y>-859.107666015625</y>
                    </bends>
                    <bends>
                        <x>1030.5509033203125</x>
                        <y>-809.107666015625</y>
                    </bends>
                    <destination>
                        <groupId>09628ae4-e2b6-303a-0000-000000000000</groupId>
                        <id>e8da06c0-78dd-32e2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>09628ae4-e2b6-303a-0000-000000000000</groupId>
                        <id>e8da06c0-78dd-32e2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>55ae03cb-fbb9-3604-0000-000000000000</id>
                    <parentGroupId>09628ae4-e2b6-303a-0000-000000000000</parentGroupId>
                    <position>
                        <x>568.0</x>
                        <y>-1384.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>upn-name</key>
<value>
    <name>upn-name</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>File Size</key>
<value>10B</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>upn-name</key>
<value>simon@speykintegrations.onmicrosoft.com</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{
    "subject": "en-m1a",
    "bodyPreview": "A description",
    "body": {
        "contentType": "text",
        "content": "Automatische gegenereert door Speyk Integration Services."
    },
    "start": {
        "dateTime": "2021-04-28T11:00:00.0000000",
        "timeZone": "UTC"
    },
    "end": {
        "dateTime": "2021-04-28T11:30:00.0000000",
        "timeZone": "UTC"
    },
    "location": {
        "displayName": "a028",
        "locationType": "default",
        "uniqueIdType": "unknown",
        "address": {},
        "coordinates": {}
    },
    "attendees": [],
    "organizer": {
        "emailAddress": {
            "name": "Simon Bosman",
            "address": "simon@speykintegrations.onmicrosoft.com"
        }
    }
}</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>b06057a5-1022-327e-0000-000000000000</id>
                    <parentGroupId>09628ae4-e2b6-303a-0000-000000000000</parentGroupId>
                    <position>
                        <x>560.0</x>
                        <y>-1160.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>hash_algorithm</key>
<value>
    <name>hash_algorithm</name>
</value>
                            </entry>
                            <entry>
<key>fail_when_empty</key>
<value>
    <name>fail_when_empty</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>hash_algorithm</key>
<value>SHA3-512</value>
                            </entry>
                            <entry>
<key>fail_when_empty</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Create TransactionId from message</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.CryptographicHashContent</type>
                </processors>
                <processors>
                    <id>e8da06c0-78dd-32e2-0000-000000000000</id>
                    <parentGroupId>09628ae4-e2b6-303a-0000-000000000000</parentGroupId>
                    <position>
                        <x>560.0</x>
                        <y>-904.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-microsoft-graph-processors-nar</artifact>
                        <group>nl.speyk.nifi</group>
                        <version>0.1.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments/>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mg-cs-graph-prop-method</key>
<value>
    <name>mg-cs-graph-prop-method</name>
</value>
                            </entry>
                            <entry>
<key>mg-cs-auth-controller-id</key>
<value>
    <identifiesControllerService>nl.speyk.nifi.microsoft.graph.services.api.MicrosoftGraphCredentialService</identifiesControllerService>
    <name>mg-cs-auth-controller-id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mg-cs-graph-prop-method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>mg-cs-auth-controller-id</key>
<value>0f4c1041-8fe7-3bb8-0000-000000000000</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeMicrosoftGraphCalendar</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>nl.speyk.nifi.microsoft.graph.processors.InvokeMicrosoftGraphCalendar</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Graph Api Calendar </name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>04/30/2021 16:43:29 CEST</timestamp>
</template>
  </rootGroup>
  <controllerServices/>
  <reportingTasks/>
</flowController>
