templates/Appointments-GraphApi-Datalake.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>09628ae4-e2b6-303a-130f-a1a69d39824a</groupId>
    <name>Appointments-GraphApi-Datalake</name>
    <snippet>
        <connections>
            <id>09a2a868-4f93-3eff-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>9ebf2593-0428-363a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>a7005f31-7dcc-3563-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>25284800-794f-31e4-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>a7005f31-7dcc-3563-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>d07ef03c-d0a8-371b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6b40f52c-e327-350f-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>474.21905517578125</x>
                <y>445.29302978515625</y>
            </bends>
            <bends>
                <x>474.21905517578125</x>
                <y>495.29302978515625</y>
            </bends>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>a7005f31-7dcc-3563-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>a7005f31-7dcc-3563-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b845cc85-1faf-346a-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>469.0</x>
                <y>631.0</y>
            </bends>
            <bends>
                <x>469.0</x>
                <y>681.0</y>
            </bends>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>9ebf2593-0428-363a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>9ebf2593-0428-363a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d87c1b5e-a2dc-367b-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>469.0</x>
                <y>239.0</y>
            </bends>
            <bends>
                <x>469.0</x>
                <y>289.0</y>
            </bends>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>d07ef03c-d0a8-371b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>d07ef03c-d0a8-371b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ecbaf6ee-74a5-3b70-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>d07ef03c-d0a8-371b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7a37dfaa-6a17-3ebc-0000-000000000000</groupId>
                <id>c70a53e1-2a04-306c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>da6b8e91-f6ed-3f83-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-azure-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>storage-account-name</key>
                    <value>
                        <name>storage-account-name</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-endpoint-suffix</key>
                    <value>
                        <name>storage-endpoint-suffix</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-account-key</key>
                    <value>
                        <name>storage-account-key</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-sas-token</key>
                    <value>
                        <name>storage-sas-token</name>
                    </value>
                </entry>
                <entry>
                    <key>storage-use-managed-identity</key>
                    <value>
                        <name>storage-use-managed-identity</name>
                    </value>
                </entry>
            </descriptors>
            <name>ADLSCredentialsControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>storage-account-name</key>
                </entry>
                <entry>
                    <key>storage-endpoint-suffix</key>
                    <value>dfs.core.windows.net</value>
                </entry>
                <entry>
                    <key>storage-account-key</key>
                </entry>
                <entry>
                    <key>storage-sas-token</key>
                </entry>
                <entry>
                    <key>storage-use-managed-identity</key>
                    <value>false</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.services.azure.storage.ADLSCredentialsControllerService</type>
        </controllerServices>
        <controllerServices>
            <id>ef1d4b05-14fa-3697-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-microsoft-graph-services-nar</artifact>
                <group>nl.speyk.nifi</group>
                <version>0.1.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>mg-cs-auth-grant-type</key>
                    <value>
                        <name>mg-cs-auth-grant-type</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-client-id</key>
                    <value>
                        <name>mg-cs-auth-client-id</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-client-secret</key>
                    <value>
                        <name>mg-cs-auth-client-secret</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-tenant-id</key>
                    <value>
                        <name>mg-cs-auth-tenant-id</name>
                    </value>
                </entry>
                <entry>
                    <key>mg-cs-auth-scope</key>
                    <value>
                        <name>mg-cs-auth-scope</name>
                    </value>
                </entry>
            </descriptors>
            <name>MicrosoftGraphCredentialControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>mg-cs-auth-grant-type</key>
                    <value>client_credentials</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-client-id</key>
                    <value>4dcf450b-1c52-4ab4-8c21-2650e1563435</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-client-secret</key>
                </entry>
                <entry>
                    <key>mg-cs-auth-tenant-id</key>
                    <value>4d9d7628-507b-45a9-b659-03d1f09d16bf</value>
                </entry>
                <entry>
                    <key>mg-cs-auth-scope</key>
                    <value>https://graph.microsoft.com/.default</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>nl.speyk.nifi.microsoft.graph.services.MicrosoftGraphCredentialControllerService</type>
        </controllerServices>
        <processors>
            <id>9ebf2593-0428-363a-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>592.0</y>
            </position>
            <bundle>
                <artifact>nifi-azure-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>adls-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.services.azure.storage.ADLSCredentialsService</identifiesControllerService>
                            <name>adls-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filesystem-name</key>
                        <value>
                            <name>filesystem-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>directory-name</key>
                        <value>
                            <name>directory-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>file-name</key>
                        <value>
                            <name>file-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>conflict-resolution-strategy</key>
                        <value>
                            <name>conflict-resolution-strategy</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>adls-credentials-service</key>
                        <value>da6b8e91-f6ed-3f83-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>filesystem-name</key>
                        <value>adls-dev</value>
                    </entry>
                    <entry>
                        <key>directory-name</key>
                        <value>dev-integration</value>
                    </entry>
                    <entry>
                        <key>file-name</key>
                        <value>${filename}.json</value>
                    </entry>
                    <entry>
                        <key>conflict-resolution-strategy</key>
                        <value>fail</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutAzureDataLakeStorage</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage</type>
        </processors>
        <processors>
            <id>a7005f31-7dcc-3563-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>400.0</y>
            </position>
            <bundle>
                <artifact>nifi-microsoft-graph-processors-nar</artifact>
                <group>nl.speyk.nifi</group>
                <version>0.1.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>mg-cs-auth-controller-id</key>
                        <value>
                            <identifiesControllerService>nl.speyk.nifi.microsoft.graph.services.api.MicrosoftGraphCredentialService</identifiesControllerService>
                            <name>mg-cs-auth-controller-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mg-cs-graph-prop-method</key>
                        <value>
                            <name>mg-cs-graph-prop-method</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>mg-cs-auth-controller-id</key>
                        <value>ef1d4b05-14fa-3697-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>mg-cs-graph-prop-method</key>
                        <value>POST</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeMicrosoftGraphCalendar</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>nl.speyk.nifi.microsoft.graph.processors.InvokeMicrosoftGraphCalendar</type>
        </processors>
        <processors>
            <id>c70a53e1-2a04-306c-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>upn-name</key>
                        <value>
                            <name>upn-name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>10B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>{
    "subject": "en-m1a",
    "bodyPreview": "A description",
    "body": {
        "contentType": "text",
        "content": "Automatisch gegenereerd door Speyk Integration Services."
    },
    "start": {
        "dateTime": "2021-04-28T11:00:00.0000000",
        "timeZone": "UTC"
    },
    "end": {
        "dateTime": "2021-04-28T11:30:00.0000000",
        "timeZone": "UTC"
    },
    "location": {
        "displayName": "a028",
        "locationType": "default",
        "uniqueIdType": "unknown",
        "address": {},
        "coordinates": {}
    },
    "attendees": [],
    "organizer": {
        "emailAddress": {
            "name": "Simon Bosman",
            "address": "simon@speykintegrations.onmicrosoft.com"
        }
    }
}</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>upn-name</key>
                        <value>simon@speykintegrations.onmicrosoft.com</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>d07ef03c-d0a8-371b-0000-000000000000</id>
            <parentGroupId>7a37dfaa-6a17-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>200.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>fail_when_empty</key>
                        <value>
                            <name>fail_when_empty</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hash_algorithm</key>
                        <value>
                            <name>hash_algorithm</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>fail_when_empty</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>hash_algorithm</key>
                        <value>SHA3-512</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Create TransactionId from message</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.CryptographicHashContent</type>
        </processors>
    </snippet>
    <timestamp>04/30/2021 17:15:09 CEST</timestamp>
</template>
